Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-vue:
  run: npx vue-tsc --noEmit

feat: small booking UI features
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
Due: none

refactor: SharedKernel
  apps/core/app/Application.php
  apps/core/app/Providers/ModuleServiceProvider.php
  modules/SharedKernel.php
  src/sdk/Module/Foundation/Providers/ModuleServiceProvider.php
  src/sdk/Module/Foundation/SharedKernel.php
  src/sdk/Module/Foundation/Support/SharedContainer.php
Due: none

feat: booking price calculator
  modules/Booking/Common/Domain/Entity/AdditionalReservation/AdditionalReservation.php
  modules/Booking/Common/Domain/Entity/AirportReservation/Airport.php
  modules/Booking/Common/Domain/Entity/TransferReservation/Transfer.php
  modules/Booking/Common/Domain/Service/PriceCalculator/AdditionalReservationCalculation.php
  modules/Booking/Common/Domain/Service/PriceCalculator/AirportReservationCalculation.php
  modules/Booking/Common/Domain/Service/PriceCalculator/ReservationCalculationInterface.php
  modules/Booking/Common/Domain/Service/PriceCalculator/ReservationGroupCalculation.php
  modules/Booking/Common/Domain/Service/PriceCalculator/ReservationPriceInterface.php
  modules/Booking/Common/Domain/Service/PriceCalculator/TransferReservationCalculation.php
  modules/Booking/Common/Domain/ValueObject/BookingPrice.php
  modules/Booking/Hotel/Domain/Service/PriceCalculator/ReservationCalculation.php
  modules/Booking/Hotel/Domain/ValueObject/RoomPrice.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/BookingCalculator.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/FormulaVariables.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/HORoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Support/DayPricesCollection.php
  src/sdk/Module/Foundation/Support/SharedContainer.php
Due: none

refactor: keep booking details in booking
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Repositories/BookingAdministratorRepository.php
  apps/admin/resources/api/booking/details.ts
  apps/admin/resources/api/booking/index.ts
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/ControlPanel.vue
  apps/admin/resources/views/hotel-booking/show/store/booking.ts
  modules/Booking/Common/Domain/Repository/BookingRepositoryInterface.php
  modules/Booking/Common/Domain/Service/BookingUpdater.php
  modules/Booking/Common/Domain/Service/StatusUpdater.php
  modules/Booking/Hotel/Application/UseCase/Admin/Request/SendRequest.php
  modules/Booking/Hotel/Application/UseCase/Admin/UpdateBookingStatus.php
  modules/Booking/Hotel/Infrastructure/Models/Booking.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
Due: admin-eslint, admin-stylelint, admin-vue

refactor: keep booking details in booking
  modules/Booking/Hotel/Application/Command/Admin/CreateBookingHandler.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
Due: none

refactor: using BookingUpdater instead Repository
  modules/Booking/Common/Application/Support/UseCase/Admin/Request/SendRequest.php
  modules/Booking/Common/Domain/Service/BookingUpdater.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Add.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Delete.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Guest/Add.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Guest/Update.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Update.php
  modules/Booking/Hotel/Application/UseCase/Admin/UpdateExternalNumber.php
Due: none

refactor: spaces
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
Due: none

feat: airport booking module
  apps/admin/app/Support/Adapters/Booking/AirportAdapter.php
  apps/admin/app/Support/Facades/Booking/AirportAdapter.php
  database/migrations/install/2023_02_17_000002_create_bookings_table.php
  modules/Booking/Airport/Application/Dto/BookingDto.php
  modules/Booking/Airport/Application/Dto/Details/AirportInfoDto.php
  modules/Booking/Airport/Application/Request/CreateBookingDto.php
  modules/Booking/Airport/Application/UseCase/Admin/CreateBooking.php
  modules/Booking/Airport/Application/UseCase/Admin/GetBooking.php
  modules/Booking/Airport/Domain/Entity/Booking.php
  modules/Booking/Airport/Domain/ValueObject/Details/AirportInfo.php
  modules/Booking/Airport/Infrastructure/Models/Booking.php
  modules/Booking/Airport/Infrastructure/Models/BookingDetails.php
  modules/Booking/Airport/Infrastructure/Models/Provider.php
  modules/Booking/Airport/Infrastructure/Models/Service.php
  modules/Booking/Airport/Infrastructure/Repository/BookingRepository.php
  modules/Booking/Common/Application/Support/UseCase/Admin/AbstractCreateBooking.php
  modules/Booking/Common/Application/Support/UseCase/Admin/AbstractGetBooking.php
  modules/Booking/Common/Domain/Service/BookingUpdater.php
  modules/Booking/Hotel/Application/Command/Admin/CreateBookingHandler.php
  modules/Booking/Hotel/Application/Command/CreateReservationRequest.php
  modules/Booking/Hotel/Application/Command/CreateReservationRequestHandler.php
  modules/Booking/Hotel/Application/UseCase/Admin/CreateBooking.php
Due: none

refactor: booking repositories and remove roomCount prop for hotel room booking
  apps/admin/app/Http/Controllers/Booking/Hotel/RoomController.php
  apps/admin/app/Http/Requests/Booking/AddRoomRequest.php
  apps/admin/app/Support/Adapters/Booking/HotelAdapter.php
  apps/admin/app/Support/Facades/Booking/HotelAdapter.php
  apps/admin/resources/api/booking/details.ts
  apps/admin/resources/api/booking/rooms.ts
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/components/RoomModal.vue
  apps/admin/resources/views/hotel-booking/show/form.ts
  modules/Booking/Airport/Application/UseCase/Admin/CreateBooking.php
  modules/Booking/Airport/Application/UseCase/Admin/GetBooking.php
  modules/Booking/Airport/Application/UseCase/Admin/GetBookingsByFilters.php
  modules/Booking/Airport/Domain/Entity/Booking.php
  modules/Booking/Airport/Domain/Repository/BookingRepositoryInterface.php
  modules/Booking/Airport/Infrastructure/Repository/BookingRepository.php
  modules/Booking/Airport/Providers/BootServiceProvider.php
  modules/Booking/Common/Application/Support/UseCase/Admin/AbstractGetBooking.php
  modules/Booking/Common/Application/Support/UseCase/Admin/GetAvailableActions.php
  modules/Booking/Common/Application/Support/UseCase/Admin/Request/SendRequest.php
  modules/Booking/Common/Application/Support/UseCase/Admin/UpdateBookingStatus.php
  modules/Booking/Common/Domain/Repository/BookingRepositoryInterface.php
  modules/Booking/Common/Domain/Service/BookingUpdater.php
  modules/Booking/Hotel/Application/Dto/Details/RoomBooking/RoomBookingDetailsDto.php
  modules/Booking/Hotel/Application/Query/FindHandler.php
  modules/Booking/Hotel/Application/Request/AddRoomDto.php
  modules/Booking/Hotel/Application/Request/UpdateRoomDto.php
  modules/Booking/Hotel/Application/UseCase/Admin/CreateBooking.php
  modules/Booking/Hotel/Application/UseCase/Admin/GetAvailableActions.php
  modules/Booking/Hotel/Application/UseCase/Admin/GetBooking.php
  modules/Booking/Hotel/Application/UseCase/Admin/Request/SendRequest.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Add.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Update.php
  modules/Booking/Hotel/Application/UseCase/Admin/UpdateBookingStatus.php
  modules/Booking/Hotel/Domain/Repository/BookingRepositoryInterface.php
  modules/Booking/Hotel/Domain/ValueObject/Details/RoomBooking/RoomBookingDetails.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
  modules/Booking/Hotel/Providers/BootServiceProvider.php
  modules/Booking/Providers/BootServiceProvider.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel prices
  apps/admin/resources/views/hotel/prices/HotelPrices.vue
  apps/admin/resources/views/hotel/prices/prices.blade.php
  apps/admin/resources/views/hotel/prices/prices.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel prices
  apps/admin/app/Http/Controllers/Hotel/PriceController.php
Due: none

feat: service provider services prices
  apps/admin/app/Http/Controllers/ServiceProvider/SeasonController.php
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/AirportPricesController.php
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/TransferPricesController.php
  apps/admin/app/Http/Requests/ServiceProvider/UpdateAirportPriceRequest.php
  apps/admin/app/Http/Requests/ServiceProvider/UpdateTransferPriceRequest.php
  apps/admin/app/Models/ServiceProvider/Car.php
  apps/admin/resources/api/service-provider/airport.ts
  apps/admin/resources/lib/date.ts
  apps/admin/resources/views/service-provider/service/price/components/EditableCell.vue
  apps/admin/resources/views/service-provider/service/price/transfer/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/transfer/TransferPrices.vue
  apps/admin/resources/views/service-provider/service/price/transfer/index.blade.php
  apps/admin/resources/views/service-provider/service/price/transfer/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: service provider prices
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/AirportPricesController.php
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/TransferPricesController.php
Due: none

feat: booking price calculator
  modules/Booking/Hotel/Domain/ValueObject/Details/BookingPeriod.php
  modules/Booking/Hotel/Domain/ValueObject/RoomPrice.php
  modules/Booking/Order/Domain/Repository/.gitkeep
  modules/Booking/Order/Domain/Repository/OrderRepositoryInterface.php
  modules/Booking/PriceCalculator/Domain/Adapter/ClientAdapterInterface.php
  modules/Booking/PriceCalculator/Domain/Adapter/HotelAdapterInterface.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/BookingCalculator.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/CalculateVariables.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/AbstractRoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/BORoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/HORoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/MarkupVariables.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/RoomVariables.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Support/BookingDaysCollection.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Support/DayPricesCollection.php
  modules/Booking/PriceCalculator/Tests/Unit/HotelBookingCalculatorTest.php
  modules/Client/Application/Response/ClientDto.php
  modules/Client/Application/UseCase/GetClient.php
  modules/Shared/Testing/CreatesApplication.php
  modules/Shared/Testing/TestCase.php
Due: none

feat: booking price
  apps/core/app/Providers/ModuleServiceProvider.php
  apps/core/app/Support/Adapters/ConstantAdapter.php
  apps/core/app/Support/Facades/Constants.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Add.php
  modules/Booking/Hotel/Domain/ValueObject/Details/BookingPeriod.php
  modules/Booking/Order/Domain/Entity/.gitkeep
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/CalculateVariables.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/MarkupVariables.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/VariablesBuilder.php
  modules/Booking/PriceCalculator/Providers/BootServiceProvider.php
  modules/Shared/Domain/Adapter/ConstantAdapterInterface.php
  modules/Shared/Enum/Client/LegalTypeEnum.php
  modules/Shared/Infrastructure/Adapter/ConstantAdapter.php
  modules/SharedKernel.php
Due: none

feat: hotel time settings
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
  database/migrations/install/2023_02_17_000001_create_orders_table.php
  modules/Booking/Airport/Infrastructure/Repository/BookingRepository.php
  modules/Booking/Hotel/Domain/ValueObject/Details/BookingPeriod.php
  modules/Booking/Hotel/Domain/ValueObject/Details/CancelConditions.php
  modules/Booking/Order/Application/Dto/OrderDto.php
  modules/Booking/Order/Application/Query/FindHandler.php
  modules/Booking/Order/Application/Query/GetActiveOrdersHandler.php
  modules/Booking/Order/Domain/Entity/Order.php
  modules/Booking/Order/Domain/Factory/OrderFactory.php
  modules/Booking/Order/Domain/Repository/OrderRepositoryInterface.php
  modules/Booking/Order/Infrastructure/Repository/OrderRepository.php
  modules/Booking/Order/Providers/BootServiceProvider.php
  modules/Hotel/Application/Dto/HotelDto.php
  modules/Hotel/Application/Dto/TimePeriodDto.php
  modules/Hotel/Application/Dto/TimeSettingsDto.php
  modules/Hotel/Domain/Entity/Hotel.php
  modules/Hotel/Domain/Factory/HotelFactory.php
  modules/Hotel/Domain/ValueObject/TimeSettings.php
  modules/Hotel/Domain/ValueObject/TimeSettings/BreakfastPeriod.php
  modules/Hotel/Infrastructure/Repository/MarkupSettingsRepository.php
  modules/Hotel/Infrastructure/Repository/RoomMarkupSettingsRepository.php
  modules/Integration/Traveline/Application/Dto/HotelDto.php
Due: none

feat: hotel time settings
  modules/Hotel/Domain/Entity/Hotel.php
Due: none

feat: hotel price page data
  apps/admin/resources/views/hotel/prices/prices.blade.php
Due: none

feat: airport service prices
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/AirportPricesController.php
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/TransferPricesController.php
  apps/admin/app/Models/ServiceProvider/Provider.php
  apps/admin/resources/api/service-provider/airport.ts
  apps/admin/resources/views/service-provider/service/price/airport/AirportPrices.vue
  apps/admin/resources/views/service-provider/service/price/airport/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/airport/index.blade.php
  apps/admin/resources/views/service-provider/service/price/airport/index.ts
  apps/admin/resources/views/service-provider/service/price/airport/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: airport service prices
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/TransferPricesController.php
  apps/admin/resources/views/service-provider/service/price/airport/AirportPrices.vue
  apps/admin/resources/views/service-provider/service/price/airport/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/airport/data-types.ts
  apps/admin/resources/views/service-provider/service/price/data-types.ts
  apps/admin/resources/views/service-provider/service/price/transfer/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/transfer/TransferPrices.vue
  apps/admin/resources/views/service-provider/service/price/transfer/data-types.ts
  apps/admin/resources/views/service-provider/service/price/transfer/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: get hotel and room markup UseCases
  apps/admin/app/Support/Adapters/Hotel/MarkupSettingsAdapter.php
  modules/Booking/Airport/Infrastructure/Models/AirportService.php
  modules/Booking/Airport/Infrastructure/Models/TransferService.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Add.php
  modules/Booking/Hotel/Domain/ValueObject/Details/RoomBooking.php
  modules/Booking/Hotel/Domain/ValueObject/RoomPrice.php
  modules/Hotel/Application/UseCase/GetRoomMarkupSettings.php
Due: none

refactor: service provider price refactoring
  apps/admin/resources/api/models.ts
  apps/admin/resources/views/service-provider/service/price/airport/AirportPrices.vue
  apps/admin/resources/views/service-provider/service/price/airport/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/airport/data-types.ts
  apps/admin/resources/views/service-provider/service/price/transfer/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/transfer/TransferPrices.vue
  apps/admin/resources/views/service-provider/service/price/transfer/data-types.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: add child age to guest + calculation events
  apps/admin/resources/views/hotel-booking/show/components/GuestModal.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: booking price notes
  modules/Booking/Common/Domain/ValueObject/PriceCalculationNotes.php
  modules/Booking/Hotel/Domain/ValueObject/RoomPrice.php
  modules/Booking/PriceCalculator/Domain/Service/ExpressionEvaluator.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/AbstractRoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/BORoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/Formula/HORoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
  modules/Booking/PriceCalculator/Domain/ValueObject/CalculationResult.php
  modules/Booking/PriceCalculator/Tests/Unit/HotelBookingCalculatorTest.php
Due: none

feat: order currency and client legals
  .gitignore
  .phpunit.cache/test-results
  apps/admin/app/Http/Controllers/Booking/Airport/BookingController.php
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Support/Adapters/Booking/AirportAdapter.php
  apps/admin/app/Support/Adapters/Booking/HotelAdapter.php
  apps/admin/app/Support/Facades/Booking/AirportAdapter.php
  apps/admin/app/Support/Facades/Booking/HotelAdapter.php
  apps/admin/app/Support/View/Form/Element/Currency.php
  apps/admin/app/Support/View/Sidebar/Menu/Item.php
  apps/admin/app/View/Menus/ClientMenu.php
  apps/admin/resources/sass/layout/sidebar.scss
  apps/admin/resources/views/airport-booking/form/form.ts
  apps/admin/resources/views/client/show.blade.php
  apps/admin/resources/views/hotel-booking/form/form.ts
  apps/admin/resources/views/hotel-booking/show/show.blade.php
  apps/admin/resources/views/layouts/main/sidebar-menu.blade.php
  database/migrations/install/2023_02_17_000001_create_orders_table.php
  modules/Booking/Airport/Application/Request/CreateBookingDto.php
  modules/Booking/Common/Application/Support/UseCase/Admin/AbstractCreateBooking.php
  modules/Booking/Hotel/Application/Dto/Details/RoomBooking/RoomPriceDto.php
  modules/Booking/Hotel/Application/Request/CreateBookingDto.php
  modules/Booking/Hotel/Domain/Entity/RoomBooking.php
  modules/Booking/Hotel/Domain/Event/GuestAdded.php
  modules/Booking/Hotel/Domain/Event/GuestDeleted.php
  modules/Booking/Hotel/Domain/Event/GuestEdited.php
  modules/Booking/Hotel/Domain/ValueObject/RoomPrice.php
  modules/Booking/Hotel/Infrastructure/Models/RoomBooking.php
  modules/Booking/Hotel/Infrastructure/Repository/RoomBookingRepository.php
  modules/Booking/Order/Application/Command/CreateOrder.php
  modules/Booking/Order/Application/Command/CreateOrderHandler.php
  modules/Booking/Order/Infrastructure/Models/Order.php
  src/Grid/Data/IterableData.php
Due: admin-eslint, admin-stylelint

feat: hack for room booking
  modules/Booking/Hotel/Infrastructure/Repository/RoomBookingRepository.php
Due: none

ref: hotel booking front
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/ControlPanel.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: booking price convert currency
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/CalculateVariables.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/VariablesBuilder.php
  modules/Pricing/CurrencyRate/Application/Command/GetRate.php
  modules/Pricing/CurrencyRate/Application/Request/GetRateDto.php
  modules/Pricing/CurrencyRate/Application/UseCase/ConvertNetRate.php
  modules/Pricing/CurrencyRate/Application/UseCase/GetNetRate.php
  modules/Pricing/CurrencyRate/Domain/Repository/CacheRepositoryInterface.php
  modules/Pricing/CurrencyRate/Domain/Repository/DatabaseRepositoryInterface.php
  modules/Pricing/CurrencyRate/Domain/Service/RateManager.php
  modules/Pricing/CurrencyRate/Domain/Service/RatioCalculator.php
  modules/Pricing/CurrencyRate/Domain/ValueObject/CountryEnum.php
  modules/Pricing/CurrencyRate/Domain/ValueObject/CurrencyRate.php
  modules/Pricing/CurrencyRate/Domain/ValueObject/CurrencyRatesCollection.php
  modules/Pricing/CurrencyRate/Infrastructure/Api/AbstractApi.php
  modules/Pricing/CurrencyRate/Infrastructure/Model/CurrencyRate.php
  modules/Pricing/CurrencyRate/Infrastructure/Repository/CacheRepository.php
  modules/Pricing/CurrencyRate/Infrastructure/Repository/DatabaseRepository.php
  modules/Pricing/CurrencyRate/Port/Controllers/MainController.php
  modules/Services/FileStorage/Domain/Service/PathGenerator.php
  modules/Shared/Domain/Adapter/CurrencyRateAdapterInterface.php
  modules/Shared/Enum/CurrencyEnum.php
  modules/Shared/Providers/BootServiceProvider.php
  modules/Shared/Support/Adapters/CurrencyRateAdapter.php
  modules/SharedKernel.php
Due: none

refactor: CurrencyEnum and id matching
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Update.php
  modules/Booking/Hotel/Domain/ValueObject/Details/RoomBooking/RoomBookingDetails.php
  modules/Booking/Order/Domain/Factory/OrderFactory.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
  modules/Booking/PriceCalculator/Infrastructure/Adapter/HotelAdapter.php
  modules/Hotel/Application/UseCase/Price/FindRoomPrice.php
  modules/Hotel/Domain/Factory/HotelFactory.php
  modules/Shared/Enum/CurrencyEnum.php
Due: none

refactor: CurrencyEnum and id matching
  modules/Shared/Enum/CurrencyEnum.php
Due: none

feat: currency enum
  modules/Shared/Enum/CurrencyEnum.php
Due: none

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-vue: any of: *.vue and ^apps/admin/
