Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-types, admin-types-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-types:
  run: npx tsc --noEmit

admin-types-vue:
  run: npx vue-tsc --noEmit

feat: .gitignore for quotas-component
  apps/shared/libs/quotas-component/.gitignore
Due: none

fix: package-json
  apps/hotel/package-lock.json
Due: none

fix: jquery types for quotas-component lib
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/views/hotel/quotas/lib/init.ts
  apps/admin/resources/views/hotel/quotas/quotas.ts
  apps/hotel/package-lock.json
  apps/hotel/package.json
  apps/hotel/resources/views/quotas/lib/init.ts
  apps/hotel/resources/views/quotas/quotas.ts
  apps/shared/libs/common/package.json
  apps/shared/libs/common/src/widgets/select-element/select-element.ts
  apps/shared/libs/components/package-lock.json
  apps/shared/libs/components/package.json
  apps/shared/libs/components/src/Base/SelectComponent.vue
  apps/shared/libs/quotas-component/package-lock.json
  apps/shared/libs/quotas-component/package.json
  apps/shared/libs/quotas-component/src/QuotasComponent.vue
  apps/shared/libs/quotas-component/src/assets/support/jquery.ts
  apps/shared/libs/quotas-component/src/assets/support/select2.ts
  apps/shared/libs/quotas-component/src/assets/vendors/select2.js
Due: admin-eslint, admin-types

feat: hotel notes bo (GTS-2584)
  apps/admin/app/Http/Controllers/Hotel/NotesController.php
  apps/admin/resources/views/hotel/notes/notes.blade.php
  apps/admin/resources/views/hotel/notes/notes.ts
  apps/admin/resources/views/hotel/room-form/room-form.blade.php
  apps/admin/resources/views/hotel/room-form/room-form.scss
  apps/admin/resources/views/hotel/room-form/room-form.ts
  apps/admin/resources/views/hotel/show/show.blade.php
  apps/admin/resources/views/hotel/show/show.scss
Due: admin-eslint, admin-stylelint, admin-types

GTS-2507
  apps/shared/app/Providers/AppServiceProvider.php
  apps/shared/app/Providers/DropboxServiceProvider.php
  composer.json
  composer.lock
  config/backup.php
  config/filesystems.php
  storage/backups/.gitignore
Due: none

feat: label text for markup-group value (GTS-2588)
  apps/admin/resources/views/markup-group/rules/form/form.ts
Due: admin-eslint, admin-types

feat: hotel and room locale notes (GTS-2584)
  apps/admin/app/Http/Controllers/Hotel/NotesController.php
  apps/admin/app/Http/Controllers/Hotel/RoomController.php
  apps/admin/resources/views/hotel/room-form/room-form.blade.php
Due: none

feat: remove city_id from clients (GTS-2589)
  apps/admin/app/Http/Controllers/Client/ClientController.php
  apps/admin/app/Http/Controllers/Client/ClientUserController.php
  apps/admin/app/Http/Controllers/Client/UserController.php
  apps/admin/app/Http/Requests/Client/CreateClientRequest.php
  apps/admin/app/Http/Requests/Client/LegalDto.php
  apps/admin/app/Http/Requests/Client/PhysicalDto.php
  apps/admin/app/Models/Booking/Booking.php
  apps/admin/app/Models/Client/Client.php
  apps/admin/app/Models/Client/User.php
  apps/admin/resources/views/booking/hotel/form/lib/types.ts
  apps/admin/resources/views/booking/shared/CreateClientButton.vue
  apps/admin/resources/views/client/form/form.ts
  apps/admin/resources/vue/api/client.ts
  database/migrations/2024_03_18_132101_add_country_id_field_to_clients.php
  src/modules/Client/Shared/Infrastructure/Models/Client.php
  storage/backups/.gitignore
Due: admin-eslint, admin-stylelint, admin-types, admin-types-vue

refactor: client fields order (GTS-2591)
  apps/admin/app/Http/Controllers/Client/ClientController.php
  apps/admin/resources/views/booking/shared/CreateClientButton.vue
Due: admin-eslint, admin-stylelint, admin-types-vue

fix: country field default value (GTS-2596)
  apps/admin/app/Support/View/Form/Element/Country.php
Due: none

feat: remove surname,name,patronymic fields (GTS-2593)
  apps/admin/app/Http/Controllers/Administration/AdministratorController.php
  apps/admin/app/Http/Controllers/Client/UserController.php
  apps/admin/app/Http/Controllers/Hotel/HotelController.php
  apps/admin/app/Http/Controllers/Hotel/UserController.php
  apps/admin/app/Http/Controllers/ProfileController.php
  apps/admin/app/Models/Administrator/Administrator.php
  apps/admin/app/Models/Client/User.php
  apps/admin/app/Models/Hotel/User.php
  apps/admin/resources/views/profile/profile/profile.blade.php
  apps/hotel/app/Http/Controllers/ProfileController.php
  apps/hotel/app/Models/Administrator.php
  apps/hotel/resources/views/profile/profile/profile.blade.php
  database/migrations/2024_03_18_155738_remove_deprecated_fields_from_users.php
  src/modules/Administrator/Application/Response/AdministratorDto.php
  src/modules/Administrator/Domain/Entity/Administrator.php
  src/modules/Administrator/Infrastructure/Repository/AdministratorRepository.php
Due: none

feat: remove surname,name,patronymic fields (GTS-2593)
  database/migrations/2024_03_18_155738_remove_deprecated_fields_from_users.php
Due: none

fix: Manager field (GTS-2592)
  apps/admin/app/Support/View/Form/Element/Manager.php
Due: none

Merge with dev
  lefthook.yml
Due: none

fix: default route
  apps/admin/app/Http/Controllers/DashboardController.php
Due: none

fix: residency parameter name (GTS-2591)
  apps/admin/app/Http/Controllers/Client/ClientController.php
  packages/support/locale-translator/resources/lang/ru/exception.php
Due: none

fix: pdf request changes airport bookings (GTS-2539)
  packages/core/booking/requesting/src/Domain/Service/ChangesRegistrar/AirportBooking/GuestEditedRegistrar.php
  packages/core/booking/requesting/src/Domain/Service/ChangesRegistrar/RegistrarFactory.php
  packages/core/booking/requesting/src/Domain/Service/ChangesRegistrar/TransferBooking/GuestEditedRegistrar.php
  src/modules/Booking/Shared/Domain/Booking/Service/IntegrationEventMapper/Hotel/OrderGuestEditedMapper.php
  src/modules/Booking/Shared/Domain/Booking/Service/IntegrationEventMapper/MapperFactory.php
  src/modules/Booking/Shared/Infrastructure/Storage/Details/CIPMeetingInAirportStorage.php
  src/modules/Booking/Shared/Infrastructure/Storage/Details/CIPSendoffInAirportStorage.php
  src/sdk/Booking/IntegrationEvent/AirportBooking/GuestEdited.php
  src/sdk/Booking/IntegrationEvent/TransferBooking/GuestEdited.php
Due: none

feat: old traveline reservations migration (GTS-2580)
  packages/supplier/traveline/database/migrations/2024_03_21_081911_create_old_traveline_reservations_table.php
Due: none

fix: residency label in vue (GTS-2591)
  apps/admin/resources/views/booking/shared/CreateClientButton.vue
Due: admin-eslint, admin-stylelint, admin-types-vue

feat: add nullable gender field to clients (GTS-2592)
  apps/admin/app/Http/Controllers/Client/ClientController.php
  apps/admin/resources/views/client/form/form.ts
  database/migrations/2024_03_24_125439_add_gender_to_clients.php
  packages/supplier/traveline/src/Service/BookingService.php
  src/modules/Client/Shared/Infrastructure/Models/Client.php
Due: admin-eslint, admin-types

fix: booking guests changes (GTS-2607)
  packages/core/booking/requesting/src/Domain/Service/ChangesRegistrar/TransferBooking/GuestEditedRegistrar.php
Due: none

feat: add traveline old reservations logic (GTS-2580)
  packages/supplier/traveline/src/Service/BookingService.php
Due: none

feat: site auth p.1
  apps/admin/app/Models/Client/User.php
  apps/shared/app/Models/User.php
  apps/site/app/Facades/AppContext.php
  apps/site/app/Http/Actions/Auth/LoginAction.php
  apps/site/app/Http/Controllers/AuthController.php
  apps/site/app/Http/Controllers/Controller.php
  apps/site/app/Http/Forms/LoginForm.php
  apps/site/app/Http/Middleware/Authenticate.php
  apps/site/app/Http/Middleware/TryAuthenticate.php
  apps/site/app/Models/User.php
  apps/site/app/Providers/BootServiceProvider.php
  apps/site/app/Providers/RouteServiceProvider.php
  apps/site/app/Providers/ViewServiceProvider.php
  apps/site/app/Support/Context/ContextManager.php
  apps/site/public/index.php
  apps/site/resources/views/auth/login/login.blade.php
  apps/site/resources/views/auth/login/login.scss
  apps/site/resources/views/auth/login/login.ts
  apps/site/resources/views/layouts/blank.blade.php
  apps/site/resources/views/layouts/common.blade.php
  apps/site/resources/views/layouts/main/footer.blade.php
  apps/site/resources/views/layouts/main/header.blade.php
  apps/site/resources/views/layouts/main/sidebar-menu.blade.php
  apps/site/resources/views/layouts/main/sidebar.blade.php
  apps/site/resources/views/layouts/main/sitemap.blade.php
  apps/site/routes/auth.php
  apps/site/routes/boot.php
  config/auth.php
Due: none

fix: remove booking deleting
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Http/Controllers/Booking/Service/BookingController.php
Due: none

fix: seeders
  database/seeders/deprecated/2023_03_14_000002_fill_hotel_users.php
Due: none

fix: seeders
  database/seeders/deprecated/2023_04_12_000007_fill_price_lists_table.php
Due: none

fix: seeders
  database/seeders/deprecated/2023_04_14_000001_fill_users_table.php
Due: none

feat: remove function delete bookings (GTS-2609)
  apps/admin/resources/views/booking/hotel/main/main.ts
  apps/admin/resources/views/booking/services/main/main.ts
Due: admin-eslint, admin-types

fix: seeders
  database/seeders/deprecated/2023_03_14_000007_fill_clients.php
  database/seeders/sql/test_hotels.sql
Due: none

fix: carBid guest request changes (GTS-2608)
  packages/core/booking/requesting/resources/views/pdf-templates/transfer/_partials/cars.blade.php
Due: none

fix: carBid guest request changes (GTS-2608)
  packages/core/booking/requesting/src/Domain/Service/ChangesRegistrar/TransferBooking/GuestAddedRegistrar.php
  packages/core/booking/requesting/src/Domain/Service/ChangesRegistrar/TransferBooking/GuestRemovedRegistrar.php
  src/sdk/Booking/IntegrationEvent/TransferBooking/GuestAdded.php
  src/sdk/Booking/IntegrationEvent/TransferBooking/GuestRemoved.php
Due: none

feat: add bookingId to mail subject (GTS-2612)
  packages/core/booking/requesting/src/Service/MailGenerator.php
Due: none

fix: service boking create url
  apps/admin/app/Http/Controllers/Booking/Service/BookingController.php
Due: none

feat: auth, registration and forgot password website logic (GTS-2604)
  apps/admin/app/Models/Client/Client.php
  apps/admin/app/Models/Client/User.php
  apps/hotel/app/Models/Client.php
  apps/shared/app/Models/User.php
  apps/site/app/Http/Actions/Auth/ForgotPasswordAction.php
  apps/site/app/Http/Actions/Auth/RegisterAction.php
  apps/site/app/Http/Actions/Auth/ResetPasswordAction.php
  apps/site/app/Http/Controllers/AuthController.php
  apps/site/app/Http/Controllers/MainController.php
  apps/site/app/Http/Controllers/ProfileController.php
  apps/site/app/Http/Forms/ForgotPasswordForm.php
  apps/site/app/Http/Forms/RegisterForm.php
  apps/site/app/Http/Forms/ResetPasswordForm.php
  apps/site/app/Models/Client.php
  apps/site/app/Models/Reference/Country.php
  apps/site/app/Models/User.php
  apps/site/app/Providers/BootServiceProvider.php
  apps/site/app/Support/Facades/AppContext.php
  apps/site/resources/lang/en.json
  apps/site/resources/lang/ru.json
  apps/site/resources/views/auth/forgot-password/form.blade.php
  apps/site/resources/views/auth/forgot-password/success.blade.php
  apps/site/resources/views/auth/login/form.blade.php
  apps/site/resources/views/auth/login/login.blade.php
  apps/site/resources/views/auth/register/form.blade.php
  apps/site/resources/views/auth/reset-password/form.blade.php
  apps/site/resources/views/layouts/blank.blade.php
  apps/site/resources/views/layouts/common.blade.php
  apps/site/resources/views/layouts/main/header.blade.php
  apps/site/resources/views/main/main.blade.php
  apps/site/resources/views/profile/profile.blade.php
  apps/site/routes/auth.php
  apps/site/routes/boot.php
  apps/site/routes/profile.php
  database/migrations/2024_03_26_180503_add_remember_token_to_users.php
  src/modules/Client/Shared/Infrastructure/Models/Client.php
Due: none

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-types: any of: *.ts and ^apps/admin/
  admin-types-vue: any of: *.vue and ^apps/admin/
