Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-vue:
  run: npx vue-tsc --noEmit

CompactSelect design
  apps/admin/resources/components/Bootstrap/CompactSelect.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: upload images jpg,jpeg,png
  apps/admin/app/Http/Requests/Hotel/UploadImagesRequest.php
  apps/admin/resources/views/hotel/images/components/UploadDialog.vue
  composer.lock
  docker/nginx/site.conf
Due: admin-eslint, admin-stylelint, admin-vue

feat: room markup settings
  apps/admin/app/Http/Controllers/Hotel/Room/MarkupSettingsController.php
  apps/admin/app/Http/Controllers/Hotel/RoomController.php
  apps/admin/app/Http/Resources/Room.php
  apps/admin/app/Models/Hotel/Room.php
  apps/admin/app/Support/Adapters/Hotel/MarkupSettingsAdapter.php
  apps/admin/app/Support/Facades/Hotel/MarkupSettingsAdapter.php
  apps/admin/resources/api/index.ts
  apps/admin/resources/views/hotel/settings/RoomMarkups.vue
  apps/admin/resources/views/hotel/settings/components/room-markups.blade.php
  apps/admin/resources/views/hotel/settings/settings.blade.php
  apps/admin/resources/views/hotel/settings/settings.ts
  modules/Hotel/Application/Command/Room/Quota/Close.php
  modules/Hotel/Application/Command/Room/Quota/CloseHandler.php
  modules/Hotel/Application/Command/Room/Quota/Open.php
  modules/Hotel/Application/Command/Room/Quota/OpenHandler.php
  modules/Hotel/Application/Command/Room/Quota/Reset.php
  modules/Hotel/Application/Command/Room/Quota/ResetHandler.php
  modules/Hotel/Application/Command/Room/Quota/Update.php
  modules/Hotel/Application/Command/Room/Quota/UpdateHandler.php
  modules/Hotel/Application/Command/Room/UpdateMarkupSettingsValue.php
  modules/Hotel/Application/Command/Room/UpdateMarkupSettingsValueHandler.php
  modules/Hotel/Application/Query/GetRoomMarkupSettings.php
  modules/Hotel/Application/Query/GetRoomMarkupSettingsHandler.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Domain/Repository/RoomMarkupSettingsRepositoryInterface.php
  modules/Hotel/Infrastructure/Models/Room.php
  modules/Hotel/Infrastructure/Repository/RoomMarkupSettingsRepository.php
  modules/Hotel/Port/Controllers/MarkupSettingsController.php
  modules/Hotel/Port/routes.php
  modules/Hotel/Providers/BootServiceProvider.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: room images in room resource
  apps/admin/app/Http/Resources/Room.php
  apps/admin/app/Models/Hotel/Room.php
  database/migrations/deprecated/2023_04_06_000001_fill_hotel_rooms.php
  database/migrations/install/2023_02_15_000007_create_hotel_rooms_table.php
  modules/Hotel/Application/Command/Room/UpdateMarkupSettingsValueHandler.php
Due: none

feat: room markup settings
  apps/admin/app/Http/Controllers/Hotel/Room/MarkupSettingsController.php
  apps/admin/app/Http/Controllers/Hotel/SettingsController.php
  apps/admin/resources/views/hotel/settings/components/room-markups.blade.php
  modules/Hotel/Infrastructure/Repository/RoomMarkupSettingsRepository.php
Due: none

feat: hotel prices p.1
  apps/admin/app/Http/Controllers/Hotel/SeasonController.php
  apps/admin/app/Models/Hotel/Hotel.php
  apps/admin/app/Models/Hotel/Season.php
Due: none

Image not attached to room overlay
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Add hotel image attachment dialog
  apps/admin/resources/api/hotel/images/index.ts
  apps/admin/resources/api/hotel/images/list.ts
  apps/admin/resources/api/hotel/images/remove.ts
  apps/admin/resources/api/hotel/images/reorder.ts
  apps/admin/resources/api/hotel/images/update.ts
  apps/admin/resources/api/hotel/images/upload.ts
  apps/admin/resources/api/hotel/index.ts
  apps/admin/resources/api/hotel/quotas/index.ts
  apps/admin/resources/api/hotel/quotas/list.ts
  apps/admin/resources/api/hotel/quotas/status.ts
  apps/admin/resources/api/hotel/quotas/update.ts
  apps/admin/resources/api/hotel/room.ts
  apps/admin/resources/api/hotel/rooms.ts
  apps/admin/resources/api/index.ts
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/components/Bootstrap/BootstrapCheckbox.vue
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/components/AttachmentDialog.vue
  apps/admin/resources/views/hotel/images/components/lib.ts
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
  apps/admin/resources/views/hotel/quotas/components/lib/use-range.ts
Due: admin-eslint, admin-stylelint, admin-vue

Remove unused const
  apps/admin/resources/views/hotel/images/components/AttachmentDialog.vue
Due: admin-eslint, admin-stylelint, admin-vue

refactor: hotel images resource
  apps/admin/app/Http/Resources/HotelImage.php
Due: none

Fix images reorder
  apps/admin/resources/api/hotel/images/index.ts
  apps/admin/resources/api/hotel/images/list.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Code style
  apps/admin/resources/views/hotel/images/components/AttachmentDialog.vue
Due: admin-eslint, admin-stylelint, admin-vue

Update vue-draggable-plus
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Replace daterangepicker with litepicker
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/api/hotel/contract.ts
  apps/admin/resources/globals.d.ts
  apps/admin/resources/js/app/providers/forms.ts
  apps/admin/resources/js/app/providers/grids.js
  apps/admin/resources/js/app/providers/grids.ts
  apps/admin/resources/js/vendor/daterangepicker.ts
  apps/admin/resources/lib/date-picker/date-picker.ts
  apps/admin/resources/lib/date-picker/lib.ts
  apps/admin/resources/lib/date-picker/style.scss
  apps/admin/resources/lib/date.ts
  apps/admin/resources/sass/app.scss
  apps/admin/resources/sass/vendor/daterangepicker.scss
  apps/admin/resources/views/hotel/season/edit.ts
  apps/admin/resources/views/main.ts
Due: admin-eslint, admin-stylelint

Date picker improvements
  apps/admin/resources/js/app/providers/forms.ts
  apps/admin/resources/lib/date-picker/date-picker.ts
  apps/admin/resources/lib/date-picker/lib.ts
  apps/admin/resources/views/hotel/season/edit.ts
Due: admin-eslint

Code style
  apps/admin/resources/js/app/providers/grids.ts
Due: admin-eslint

feat: add city group index to currency rate hotels
  apps/admin/app/Http/Controllers/Client/CurrencyRateController.php
Due: none

refactor: image linked rooms
  apps/admin/app/Http/Controllers/Hotel/ImageController.php
  apps/admin/app/Http/Resources/HotelImage.php
  apps/admin/app/Http/Resources/Room.php
  apps/admin/routes/hotel.php
Due: none

refactor: image linked rooms
  apps/api/app/Repositories/Hotel/RoomImageRepository.php
  apps/core/app/Support/Adapters/FileAdapter.php
  apps/core/app/Support/Facades/FileAdapter.php
Due: none

feat: hotel prices API
  apps/admin/app/Enums/ResidencyEnum.php
  apps/admin/app/Http/Controllers/Hotel/PriceController.php
  apps/admin/app/Http/Requests/Hotel/UpdatePriceRequest.php
  apps/admin/app/Http/Resources/Price.php
  apps/admin/app/Providers/AdapterServiceProvider.php
  apps/admin/app/Support/Adapters/Hotel/PricesAdapter.php
  apps/admin/app/Support/Facades/Hotel/PricesAdapter.php
  apps/admin/resources/views/hotel/prices/prices.blade.php
  apps/admin/routes/hotel.php
  database/migrations/install/2023_02_15_000008_create_hotel_prices_table.php
  database/migrations/install/2023_02_15_000009_create_hotel_contracts_table.php
  database/migrations/install/2023_02_15_000020_create_hotel_season_price_calendar.php
  modules/Hotel/Application/Command/Price/Date/Set.php
  modules/Hotel/Application/Command/Price/Date/SetHandler.php
  modules/Hotel/Application/Command/Price/Season/Set.php
  modules/Hotel/Application/Command/Price/Season/SetHandler.php
  modules/Hotel/Application/Command/SetSeasonPrice.php
  modules/Hotel/Application/Command/SetSeasonPriceHandler.php
  modules/Hotel/Application/Dto/PriceDto.php
  modules/Hotel/Application/Query/Price/Date/Get.php
  modules/Hotel/Application/Query/Price/Date/GetHandler.php
  modules/Hotel/Application/Query/Price/Season/Get.php
  modules/Hotel/Application/Query/Price/Season/GetHandler.php
  modules/Hotel/Infrastructure/Models/Contract.php
  modules/Hotel/Infrastructure/Models/DatePrice.php
  modules/Hotel/Infrastructure/Models/Price/Group.php
  modules/Hotel/Infrastructure/Models/Season.php
  modules/Hotel/Infrastructure/Models/SeasonPrice.php
  modules/Hotel/Port/Controllers/PriceController.php
  modules/Hotel/Port/routes.php
Due: none

feat: check period intersection for CurrencyRate
  apps/admin/app/Http/Controllers/Client/CurrencyRateController.php
  apps/admin/app/Models/Client/CurrencyRate.php
Due: none

feat: check period intersection for CurrencyRate
  apps/admin/app/Http/Controllers/Client/CurrencyRateController.php
Due: none

feat: currency change rate front config
  apps/admin/vite.config.ts
Due: admin-eslint

fix: quotas table
  apps/admin/resources/api/hotel/room.ts
  apps/admin/resources/api/index.ts
Due: admin-eslint

fix: quotas table + markup settings front (p.1)
  apps/admin/.eslintrc.js
  apps/admin/resources/api/hotel/markup-settings.ts
  apps/admin/resources/api/hotel/room.ts
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/views/hotel/images/components/lib.ts
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/components/EditTableRowButton.vue
  apps/admin/resources/views/hotel/settings/components/TimeSelect.vue
  apps/admin/resources/views/hotel/settings/settings.blade.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: date ranges
  apps/admin/resources/lib/date-picker/date-picker.ts
Due: admin-eslint

fix: quotas table
  apps/admin/vite.config.ts
Due: admin-eslint

fix: hotels search
  apps/admin/app/Models/Hotel/Hotel.php
Due: none

feat: markup settings api
  apps/admin/.eslintrc.js
  apps/admin/resources/api/hotel/markup-settings.ts
  apps/admin/resources/lib/date-picker/date-picker.ts
  apps/admin/resources/views/hotel/season/edit.ts
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/components/AddConditionButton.vue
  apps/admin/resources/views/hotel/settings/components/ConditionsTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: markup settings api
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/components/ConditionsTable.vue
  apps/admin/resources/views/hotel/settings/components/EditTableRowButton.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel time settings api
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  modules/Hotel/Domain/ValueObject/TimeSettings.php
  modules/Shared/Domain/ValueObject/Time.php
  modules/Shared/Domain/ValueObject/TimePeriod.php
Due: admin-eslint, admin-stylelint, admin-vue

refactor: hotel markup settings and VO
  modules/Hotel/Application/Command/Room/UpdateMarkupSettingsValueHandler.php
  modules/Hotel/Application/Command/UpdateMarkupSettingsValueHandler.php
  modules/Hotel/Application/Query/GetHotelMarkupSettingsHandler.php
  modules/Hotel/Domain/Entity/MarkupSettings.php
  modules/Hotel/Domain/Entity/Room/MarkupSettings.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelMarkupOption.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriod.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/ClientMarkups.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/Condition.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupOption.php
  modules/Hotel/Domain/ValueObject/TimeSettings.php
Due: none

feat: batch update season prices
  apps/admin/app/Http/Controllers/Booking/HotelBookingController.php
  apps/admin/app/Http/Controllers/Hotel/PriceController.php
  apps/admin/app/Http/Requests/Hotel/BatchUpdatePriceRequest.php
  apps/admin/resources/views/hotel-booking/show/show.blade.php
  apps/admin/routes/hotel.php
  database/migrations/install/2023_02_17_000002_create_bookings_table.php
  modules/Booking/Hotel/Application/Dto/BookingDto.php
  modules/Booking/Hotel/Application/Dto/BookingPeriodDto.php
  modules/Booking/Hotel/Domain/Factory/BookingFactory.php
  modules/Booking/Hotel/Domain/ValueObject/Details/BookingPeriod.php
  modules/Booking/Hotel/Infrastructure/Models/Hotel/BookingDetails.php
Due: none

refactor: command bus
  src/Framework/Bus/CommandBus.php
Due: none

feat: booking module dtos and front beginning
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Http/Controllers/Booking/Hotel/RoomController.php
  apps/admin/factories/booking/hotel-booking.php
  apps/admin/resources/components/Bootstrap/BootstrapSelectBase.vue
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/show.blade.php
  apps/admin/resources/views/hotel-booking/show/show.ts
  apps/admin/routes/boot.php
  apps/admin/routes/hotel-booking.php
  modules/Booking/Common/Domain/Entity/Details/HotelDetailsInterface.php
  modules/Booking/Common/Domain/Entity/ReservationInterface.php
  modules/Booking/Hotel/Application/Dto/BookingDto.php
  modules/Booking/Hotel/Application/Dto/DetailsDto.php
  modules/Booking/Hotel/Domain/Entity/Booking.php
  modules/Booking/Hotel/Domain/Entity/Details.php
  modules/Booking/Hotel/Domain/Factory/BookingFactory.php
  modules/Booking/Hotel/Domain/Factory/DetailsFactory.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
  modules/Booking/Order/Application/Query/GetActiveOrdersHandler.php
Due: admin-eslint, admin-stylelint, admin-vue

fix: change status field to success for traveline
  modules/Integration/Traveline/Domain/Api/Response/AbstractTravelineResponse.php
  modules/Integration/Traveline/Domain/Api/Response/ErrorResponse.php
Due: none

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-vue: any of: *.vue and ^apps/admin/
