Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-vue:
  run: npx vue-tsc --noEmit

Use postcss-preset-env
  apps/admin/.browserslistrc
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/vite.config.ts
Due: admin-eslint, admin-stylelint, admin-vue

Move payloads to hooks
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Fix Vite CSS warning
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Merge reserve and release days cells
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: order images by index
  apps/admin/app/Models/Hotel/RoomImage.php
  apps/api/app/Repositories/Hotel/ImageRepository.php
  apps/api/app/Repositories/Hotel/RoomImageRepository.php
Due: none

Quotas design using Bootstrap
  apps/admin/resources/views/hotel/quotas/components/FiltersSelect.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

Use reorder images API
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

refactor: remove old api routes
  apps/api/app/Providers/RouteServiceProvider.php
Due: none

Fix reorder images API draggable integration
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: quotas by hotel and hotel markup (p.1)
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/GetQuotaRequest.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Facades/Hotel/QuotaAdapter.php
  apps/admin/routes/hotel.php
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
  modules/Hotel/Application/Dto/AdditionalConditionsDto.php
  modules/Hotel/Application/Dto/MarkupDto.php
  modules/Hotel/Application/Query/GetQuotas.php
  modules/Hotel/Application/Query/GetQuotasHandler.php
  modules/Hotel/Application/Service/AdditionalConditionsManager.php
  modules/Hotel/Application/Service/MarkupManager.php
  modules/Hotel/Domain/Repository/AdditionalConditionsRepositoryInterface.php
  modules/Hotel/Domain/Repository/OptionsMarkupRepositoryInterface.php
  modules/Hotel/Domain/Repository/RoomQuotaRepositoryInterface.php
  modules/Hotel/Domain/ValueObject/AdditionalConditions.php
  modules/Hotel/Domain/ValueObject/ConditionTypeEnum.php
  modules/Hotel/Domain/ValueObject/Options/CancelMarkupPercent.php
  modules/Hotel/Domain/ValueObject/Options/CancelPeriod.php
  modules/Hotel/Domain/ValueObject/Options/CancelPeriodCollection.php
  modules/Hotel/Domain/ValueObject/Options/ClientMarkups.php
  modules/Hotel/Domain/ValueObject/Options/Condition.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupCollection.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupPercent.php
  modules/Hotel/Domain/ValueObject/Options/EarlyCheckInCollection.php
  modules/Hotel/Domain/ValueObject/Options/LateCheckOutCollection.php
  modules/Hotel/Domain/ValueObject/Options/Markup.php
  modules/Hotel/Domain/ValueObject/Options/PeriodTypeEnum.php
  modules/Hotel/Infrastructure/Models/Hotel.php
  modules/Hotel/Infrastructure/Models/Room/Quota.php
  modules/Hotel/Infrastructure/Repository/AdditionalConditionsRepository.php
  modules/Hotel/Infrastructure/Repository/OptionsMarkupRepository.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Port/Controllers/AdditionalConditionsController.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
  modules/Hotel/Port/routes.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/Shared/Domain/ValueObject/Percent.php
  modules/Shared/Domain/ValueObject/TimePeriod.php
Due: none

fix: hotel contract period filter
  apps/admin/app/Models/Hotel/Hotel.php
Due: none

fix: hide unique key in s_mail_templates
  database/migrations/install/2023_02_11_000102_create_mail_template_table.php
Due: none

fix: hide unique key
  database/migrations/install/2023_02_11_000103_create_notifications_table.php
Due: none

feat: fill hotel room quotas
  database/migrations/deprecated/2023_04_12_000006_fill_hotel_room_quota.php
Due: none

fix: create hotels table text field instead json
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
Due: none

fix: create hotels table text field instead json
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
Due: none

Fetch hotel quotas using filters, update API code style
  apps/admin/.eslintrc.js
  apps/admin/resources/lib/api/city.ts
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/lib/api/index.ts
  apps/admin/resources/lib/models.ts
  apps/admin/resources/lib/vue.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/FiltersSelect.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
  docker/nginx/site.conf
Due: admin-eslint, admin-stylelint, admin-vue

Select years in past instead of future
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Select years in past and future
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Add 2 and 3 years intervals to quotas filters
  apps/admin/resources/lib/models.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

Display quotas from API
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/lib/api/index.ts
  apps/admin/resources/lib/models.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
  apps/admin/resources/views/hotel/quotas/components/lib/mock.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel markup settings
  apps/admin/app/Http/Controllers/Hotel/ResidenceConditionController.php
  apps/admin/app/Support/Adapters/Hotel/ResidenceConditionAdapter.php
  apps/admin/app/Support/Facades/Hotel/ResidenceConditionAdapter.php
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
  modules/Hotel/Application/Dto/MarkupDto.php
  modules/Hotel/Application/Query/GetHotelMarkupSettings.php
  modules/Hotel/Application/Query/GetHotelMarkupSettingsHandler.php
  modules/Hotel/Application/Service/MarkupManager.php
  modules/Hotel/Domain/Repository/MarkupRepositoryInterface.php
  modules/Hotel/Domain/ValueObject/ConditionTypeEnum.php
  modules/Hotel/Domain/ValueObject/HotelCancelPeriodEnum.php
  modules/Hotel/Domain/ValueObject/Options/CancelMarkupPercent.php
  modules/Hotel/Domain/ValueObject/Options/CancelPeriod.php
  modules/Hotel/Domain/ValueObject/Options/CancelPeriodCollection.php
  modules/Hotel/Domain/ValueObject/Options/CancelPeriodTypeEnum.php
  modules/Hotel/Domain/ValueObject/Options/ClientMarkups.php
  modules/Hotel/Domain/ValueObject/Options/Condition.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupCollection.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupPercent.php
  modules/Hotel/Domain/ValueObject/Options/EarlyCheckInCollection.php
  modules/Hotel/Domain/ValueObject/Options/LateCheckOutCollection.php
  modules/Hotel/Domain/ValueObject/Options/Markup.php
  modules/Hotel/Infrastructure/Models/Hotel.php
  modules/Hotel/Infrastructure/Repository/MarkupRepository.php
  modules/Hotel/Infrastructure/Repository/OptionsMarkupRepository.php
  modules/Hotel/Port/Controllers/AdditionalConditionsController.php
  modules/Hotel/Port/Controllers/MarkupController.php
  modules/Hotel/Port/routes.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/Shared/Domain/Service/JsonSerializer.php
  modules/Shared/Domain/ValueObject/Percent.php
  modules/Shared/Domain/ValueObject/SerializableDataInterface.php
  modules/Shared/Domain/ValueObject/TimePeriod.php
Due: none

feat: hotel markup settings
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  modules/Hotel/Application/Dto/MarkupSettingsDto.php
  modules/Hotel/Application/Query/GetHotelMarkupSettingsHandler.php
  modules/Hotel/Domain/Repository/MarkupRepositoryInterface.php
  modules/Hotel/Domain/ValueObject/Options/MarkupSettings.php
  modules/Hotel/Infrastructure/Repository/MarkupRepository.php
Due: none

feat: hotel markup settings
  modules/Hotel/Application/Query/GetHotelMarkupSettingsHandler.php
  modules/Hotel/Domain/Repository/MarkupSettingsRepositoryInterface.php
  modules/Hotel/Infrastructure/Repository/MarkupSettingsRepository.php
  modules/Hotel/Providers/BootServiceProvider.php
Due: none

Split hotel api to files
  apps/admin/resources/lib/api/city.ts
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/lib/api/hotel/contract.ts
  apps/admin/resources/lib/api/hotel/hotel.ts
  apps/admin/resources/lib/api/hotel/images.ts
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/lib/api/hotel/room.ts
  apps/admin/resources/lib/api/hotel/rooms.ts
  apps/admin/resources/lib/api/index.ts
  apps/admin/resources/lib/models.ts
  apps/admin/resources/lib/url-params.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/models.ts
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
  apps/admin/resources/views/hotel/season/season.ts
Due: admin-eslint, admin-stylelint, admin-vue

Describe hotel API visibility
  apps/admin/resources/lib/api/hotel/hotel.ts
Due: admin-eslint

Remove log
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
Due: admin-eslint

Change default year
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

Restore default filters
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
Due: admin-eslint

refactor: hotel markup settings
  modules/Hotel/Domain/ValueObject/Options/MarkupSettings.php
Due: none

refactor: hotel markup settings
  modules/Shared/Domain/ValueObject/Percent.php
Due: none

refactor: hotel markup settings
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  modules/Hotel/Domain/ValueObject/Options/MarkupSettings.php
Due: none

Mark holidays
  apps/admin/resources/lib/date.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: hotel markup settings
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  modules/Hotel/Domain/ValueObject/Options/CancelMarkupOption.php
  modules/Hotel/Domain/ValueObject/Options/CancelPeriod.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupCollection.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupOption.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupPercent.php
Due: none

refactor: hotel markup settings
  modules/Hotel/Domain/ValueObject/Options/CancelMarkupOption.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupOption.php
Due: none

feat: TimePeriod validation
  modules/Shared/Domain/ValueObject/TimePeriod.php
Due: none

feat: TimePeriod validation
  composer.lock
  modules/Shared/Domain/ValueObject/TimePeriod.php
Due: none

Quotas filters reset; hotel images upload design; icon button tooltip, variants button design improvements; dialog Escape button, two slotted actions, fix title z-index
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/components/Bootstrap/BootstrapButton/BootstrapButton.vue
  apps/admin/resources/components/ImageZoom.vue
  apps/admin/resources/lib/vue.ts
  apps/admin/resources/sass/vendor/floating-vue.scss
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/components/DropZone.vue
  apps/admin/resources/views/hotel/images/components/UploadDialog.vue
  apps/admin/resources/views/hotel/images/components/lib.ts
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

Submit on quotas filters reset
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Show empty quotas months, group months by room, add month subheader
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/lib/api/hotel/room.ts
  apps/admin/resources/lib/date.ts
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
  apps/admin/resources/views/hotel/quotas/components/lib/use-range.ts
Due: admin-eslint, admin-stylelint, admin-vue

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-vue: any of: *.vue and ^apps/admin/
