Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-types, admin-types-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-types:
  run: npx tsc --noEmit

admin-types-vue:
  run: npx vue-tsc --noEmit

fix: createVueInstance rootComponent type
  apps/admin/resources/vue/vue.ts
  apps/hotel/resources/vue/vue.ts
Due: admin-eslint, admin-types

fix: overriding styles
  apps/hotel/resources/views/images/HotelImages.vue
  apps/hotel/resources/views/images/components/AttachmentDialog.vue
Due: none

feat: package.json for build modules
  apps/shared/libs/components/package-lock.json
  apps/shared/libs/components/package.json
  apps/shared/libs/components/src/Base/ActionsMenu.vue
  apps/shared/libs/components/src/Base/BaseDialog.vue
  apps/shared/libs/components/src/Base/BaseLayout.vue
  apps/shared/libs/components/src/Base/BodyScrollLock.vue
  apps/shared/libs/components/src/Base/ButtonLoadingSpinner.vue
  apps/shared/libs/components/src/Base/CollapsableBlock.vue
  apps/shared/libs/components/src/Base/DateRangePicker.vue
  apps/shared/libs/components/src/Base/EmptyData.vue
  apps/shared/libs/components/src/Base/IconButton.vue
  apps/shared/libs/components/src/Base/ImageZoom.vue
  apps/shared/libs/components/src/Base/InlineIcon.vue
  apps/shared/libs/components/src/Base/LoadingSpinner.vue
  apps/shared/libs/components/src/Base/OverlayLoading.vue
  apps/shared/libs/components/src/Base/SelectComponent.vue
  apps/shared/libs/components/src/Base/SmallDeleteButton.vue
  apps/shared/libs/components/src/Bootstrap/BootstrapButton/BootstrapButton.vue
  apps/shared/libs/components/src/Bootstrap/BootstrapCard/BootstrapCardTitle.vue
  apps/shared/libs/components/src/Bootstrap/BootstrapCheckBox/BootstrapCheckbox.vue
  apps/shared/libs/components/src/Bootstrap/BootstrapTabs/BootstrapTabsLink.vue
  apps/shared/libs/components/src/Bootstrap/BootstrapTabs/BootstrapTabsTabContent.vue
  apps/shared/libs/components/src/Bootstrap/BootstrapTabs/types.ts
  apps/shared/libs/components/src/Editable/EditableDateInput.vue
  apps/shared/libs/components/src/Editable/EditableDateRangeInput.vue
  apps/shared/libs/components/src/Editable/EditableNumberInput.vue
  apps/shared/libs/components/src/Editable/EditableSelect.vue
  apps/shared/libs/components/src/Editable/EditableTextInput.vue
  apps/shared/libs/components/src/Editable/EditableTextarea.vue
  apps/shared/libs/components/src/Editable/EditableTimeInput.vue
  apps/shared/libs/components/src/globals.d.ts
  apps/shared/libs/components/vite.config.ts
Due: none

feat: install components package to HO
  apps/hotel/package-lock.json
  apps/hotel/package.json
  lefthook.yml
Due: none

feat: CollapsableBlock component
  apps/shared/libs/components/package.json
  apps/shared/libs/components/src/Bootstrap/BootstrapTabs/types.ts
Due: none

fix: bootstrap lib dependencies
  apps/shared/libs/components/package.json
  apps/shared/libs/components/src/Bootstrap/BootstrapCheckbox/BootstrapCheckbox.vue
  apps/shared/libs/components/vite.config.ts
Due: none

feat: API method for hotel quota availability (GTS-2521)
  apps/admin/app/Http/Controllers/Hotel/QuotaAvailabilityController.php
  apps/admin/app/Http/Requests/Hotel/GetQuotaAvailabilityRequest.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAvailabilityAdapter.php
  apps/admin/app/Support/Facades/Hotel/QuotaAvailabilityAdapter.php
  apps/admin/factories/hotel/quota.php
  apps/admin/resources/views/hotel/quota-availability/quota-availability.blade.php
  apps/admin/resources/views/hotel/quota-availability/quota-availability.ts
  apps/admin/routes/hotel.php
  apps/admin/vite.config.ts
  packages/supplier/traveline/src/Dto/QuotaDto.php
  packages/supplier/traveline/src/Models/HotelRoomQuota.php
  packages/supplier/traveline/src/Repository/RoomQuotaRepository.php
  packages/supplier/traveline/src/UseCase/GetAvailableQuotas.php
  packages/supplier/traveline/src/UseCase/GetQuotas.php
  packages/supplier/traveline/src/UseCase/QuotaAvailability/Get.php
  src/modules/Hotel/Quotation/Application/Dto/QuotaDto.php
  src/modules/Hotel/Quotation/Application/Service/Factory/SupplierFactory.php
  src/modules/Hotel/Quotation/Application/Service/QuotaAvailabilityFetcher.php
  src/modules/Hotel/Quotation/Application/Service/Supplier/Gotostans.php
  src/modules/Hotel/Quotation/Application/Service/Supplier/Traveline.php
  src/modules/Hotel/Quotation/Application/Service/SupplierQuotaAvailabilityFetcherInterface.php
  src/modules/Hotel/Quotation/Application/UseCase/QuotaAvailability/Get.php
  src/modules/Hotel/Quotation/Infrastructure/Model/Quota.php
  src/shared/Contracts/Adapter/TravelineAdapterInterface.php
  src/shared/Support/Adapter/TravelineAdapter.php
Due: admin-eslint, admin-types

feat: backups (GTS-2507)
  apps/shared/app/Console/Kernel.php
  composer.json
  composer.lock
  config/backup.php
  config/filesystems.php
  lang/vendor/backup/ar/notifications.php
  lang/vendor/backup/bg/notifications.php
  lang/vendor/backup/bn/notifications.php
  lang/vendor/backup/cs/notifications.php
  lang/vendor/backup/da/notifications.php
  lang/vendor/backup/de/notifications.php
  lang/vendor/backup/en/notifications.php
  lang/vendor/backup/es/notifications.php
  lang/vendor/backup/fa/notifications.php
  lang/vendor/backup/fi/notifications.php
  lang/vendor/backup/fr/notifications.php
  lang/vendor/backup/he/notifications.php
  lang/vendor/backup/hi/notifications.php
  lang/vendor/backup/hr/notifications.php
  lang/vendor/backup/id/notifications.php
  lang/vendor/backup/it/notifications.php
  lang/vendor/backup/ja/notifications.php
  lang/vendor/backup/ko/notifications.php
  lang/vendor/backup/nl/notifications.php
  lang/vendor/backup/no/notifications.php
  lang/vendor/backup/pl/notifications.php
  lang/vendor/backup/pt-BR/notifications.php
  lang/vendor/backup/pt/notifications.php
  lang/vendor/backup/ro/notifications.php
  lang/vendor/backup/ru/notifications.php
  lang/vendor/backup/tr/notifications.php
  lang/vendor/backup/uk/notifications.php
  lang/vendor/backup/zh-CN/notifications.php
  lang/vendor/backup/zh-TW/notifications.php
Due: none

fix: hotel quota filters (GTS-2521)
  apps/admin/app/Http/Controllers/Hotel/QuotaAvailabilityController.php
  apps/admin/app/Support/Facades/Hotel/QuotaAvailabilityAdapter.php
  packages/supplier/traveline/src/Models/HotelRoomQuota.php
  src/modules/Hotel/Quotation/Application/UseCase/QuotaAvailability/Get.php
  src/modules/Hotel/Quotation/Infrastructure/Model/Quota.php
Due: none

fix: hotel search (GTS-2543)
  apps/admin/app/Models/Hotel/Hotel.php
Due: none

fix: revert profile deletion (GTS-2544)
  apps/admin/app/Http/Controllers/ProfileController.php
  apps/admin/resources/views/profile/profile/profile.blade.php
  apps/admin/routes/auth.php
  apps/hotel/app/Http/Controllers/ProfileController.php
  apps/hotel/resources/views/profile/profile/profile.blade.php
  apps/hotel/routes/profile.php
Due: none

fix: make client city_id hidden
  apps/admin/app/Http/Controllers/Client/ClientController.php
Due: none

fix: try hide fields on fly
  apps/admin/app/Http/Controllers/Client/ClientController.php
Due: none

fix: client fields validation
  apps/admin/app/Http/Controllers/Client/ClientController.php
Due: none

feat: order fields for create client from (GTS-2518)
  apps/admin/resources/views/client/form/form.ts
Due: admin-eslint, admin-types

feat: add edit mode flag to client form
  apps/admin/resources/views/client/form/form.blade.php
  apps/admin/resources/views/client/form/form.ts
Due: admin-eslint, admin-types

feat: add supplier payment status to service bookings (GTS-2517)
  apps/admin/app/Http/Controllers/Booking/Service/BookingController.php
Due: none

fix: create client form
  apps/admin/resources/views/client/form/form.ts
Due: admin-eslint, admin-types

fix: reinit country field for create client form
  apps/admin/resources/views/client/form/form.ts
Due: admin-eslint, admin-types

fix: last fixes (GTS-2422)
  packages/core/booking/requesting/resources/views/pdf-templates/hotel/change_request.blade.php
  packages/core/booking/requesting/src/Providers/BootServiceProvider.php
  packages/core/booking/requesting/src/Service/TemplateRenderer/ChangeMarkRenderer.php
Due: none

fix: generate several reports (GTS-2555)
  apps/admin/resources/views/report/form/form.blade.php
Due: none

fix: request mail booking link (GTS-2552)
  packages/core/booking/requesting/resources/views/mail/hotel/booking_request.blade.php
  packages/core/booking/requesting/resources/views/mail/hotel/cancel_request.blade.php
  packages/core/booking/requesting/resources/views/mail/hotel/change_request.blade.php
Due: none

fix: profit report client (GTS-2556)
  apps/admin/app/Services/ReportCompiler/ProfitReportCompiler.php
Due: none

feat: install PhpWord (GTS-2490)
  composer.json
  composer.lock
  src/modules/Booking/Notification/Domain/Service/VoucherGenerator/DocxGenerator.php
  src/modules/Booking/Shared/Infrastructure/Service/DocxTemplateCompiler.php
Due: none

fix: traveline date format
  packages/supplier/traveline/src/Dto/ReservationDto.php
  packages/supplier/traveline/src/Factory/BookingDtoFactory.php
Due: none

refactor: traveline
  packages/supplier/traveline/src/Factory/BookingDtoFactory.php
Due: none

fix: gender attribute for client create form
  apps/admin/resources/views/booking/shared/CreateClientButton.vue
Due: admin-eslint, admin-stylelint, admin-types-vue

feat: voucher template
  apps/admin/resources/voucher-templates/voucher_template.docx
  src/modules/Booking/Notification/Domain/Factory/VoucherFactory.php
  src/modules/Booking/Notification/Domain/Service/VoucherGenerator/DocxGenerator.php
Due: none

feat: docx voucher generator release (GTS-2490)
  src/modules/Booking/Notification/Domain/Factory/VoucherFactory.php
  src/modules/Booking/Notification/Domain/Service/VoucherGenerator/DocxGenerator.php
  src/modules/Booking/Shared/Infrastructure/Service/DocxTemplateCompiler.php
  storage/app/public/logo_docx.jpg
Due: none

feat: additional editing parameters ho (GTS-2548)
  apps/hotel/resources/views/show/_modals/services-modal.ts
  apps/hotel/resources/views/show/_modals/services.blade.php
  apps/hotel/resources/views/show/_modals/usabilities-modal.ts
  apps/hotel/resources/views/show/_modals/usabilities.blade.php
  apps/hotel/resources/views/show/_partials/services-card.blade.php
  apps/hotel/resources/views/show/show.blade.php
  apps/hotel/resources/views/show/show.ts
  apps/hotel/vite.config.ts
Due: none

feat: voucher dto with word file (GTS-2490)
  src/modules/Booking/Moderation/Application/Dto/VoucherDto.php
  src/modules/Booking/Moderation/Application/Factory/VoucherDtoFactory.php
  src/modules/Booking/Moderation/Domain/Order/ValueObject/Voucher.php
  src/modules/Booking/Notification/Application/UseCase/SendVoucher.php
  src/modules/Booking/Notification/Domain/Factory/VoucherFactory.php
Due: none

feat: voucher word download button (GTS-2490)
  apps/admin/resources/views/booking-order/show/components/OrderPanel/components/OrderVoucher.vue
  apps/admin/resources/vue/api/order/voucher.ts
Due: admin-eslint, admin-stylelint, admin-types, admin-types-vue

fix: hotel usabilities update error
  apps/admin/app/Http/Controllers/Hotel/ServiceController.php
  apps/admin/app/Http/Controllers/Hotel/UsabilityController.php
  apps/hotel/app/Http/Controllers/ServiceController.php
  apps/hotel/app/Http/Controllers/UsabilityController.php
Due: none

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-types: any of: *.ts and ^apps/admin/
  admin-types-vue: any of: *.vue and ^apps/admin/
