Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    admin-eslint:
      root: "apps/admin"
      glob: "*.{js,ts,vue}"
      run: npx eslint {staged_files}
    admin-stylelint:
      root: "apps/admin"
      glob: "*.{vue,scss}"
      run: npx stylelint {staged_files}
    admin-vue:
      root: "apps/admin"
      glob: "*.vue"
      run: npx vue-tsc --noEmit

Editable cell tooltip using Floating Vue
  apps/admin/resources/views/hotel/quotas/components/EditableCell.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

Hotel room quotas and release days update API
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/lib/api/index.ts
  apps/admin/resources/lib/date.ts
  apps/admin/resources/lib/vue.ts
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel markup settings dtos
  apps/admin/routes/hotel.php
  modules/Booking/Hotel/Application/Dto/ClientDto.php
  modules/Booking/Hotel/Application/Dto/GuestDto.php
  modules/Booking/Hotel/Application/Dto/HotelDto.php
  modules/Booking/Hotel/Application/Dto/ReservationDto.php
  modules/Booking/Hotel/Application/Dto/RoomDto.php
  modules/Hotel/Application/Dto/MarkupSettingsDto.php
  modules/Hotel/Application/Dto/Options/CancelMarkupOptionDto.php
  modules/Hotel/Application/Dto/Options/CancelPeriodDto.php
  modules/Hotel/Application/Dto/Options/ClientMarkupsDto.php
  modules/Hotel/Application/Dto/Options/ConditionDto.php
  modules/Hotel/Application/Dto/Options/DailyMarkupDto.php
  modules/Hotel/Application/Dto/Options/MarkupSettingsDto.php
  modules/Hotel/Application/Query/GetHotelMarkupSettingsHandler.php
  modules/Hotel/Domain/ValueObject/Options/DailyMarkupOption.php
  modules/Shared/Application/Dto/AbstractDomainBasedDto.php
  modules/Shared/Application/Dto/PeriodDto.php
Due: none

refactor: hotel markup settings dtos
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  modules/Hotel/Application/Dto/MarkupSettings/CancelMarkupOptionDto.php
  modules/Hotel/Application/Dto/MarkupSettings/CancelPeriodDto.php
  modules/Hotel/Application/Dto/MarkupSettings/ClientMarkupsDto.php
  modules/Hotel/Application/Dto/MarkupSettings/ConditionDto.php
  modules/Hotel/Application/Dto/MarkupSettings/DailyMarkupDto.php
  modules/Hotel/Application/Dto/MarkupSettings/MarkupSettingsDto.php
  modules/Hotel/Application/Query/GetHotelMarkupSettingsHandler.php
  modules/Hotel/Domain/Repository/MarkupSettingsRepositoryInterface.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelMarkupOption.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriod.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriodCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriodTypeEnum.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/ClientMarkups.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/Condition.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupOption.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/EarlyCheckInCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/LateCheckOutCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/MarkupSettings.php
  modules/Hotel/Infrastructure/Models/Room/Quota.php
  modules/Hotel/Infrastructure/Repository/MarkupSettingsRepository.php
  modules/Shared/Application/Dto/PeriodDto.php
Due: none

fix: create quota if doesnt exist
  apps/admin/app/Http/Resources/RoomQuota.php
  database/migrations/deprecated/2023_04_12_000006_fill_hotel_room_quota.php
  database/migrations/install/2023_02_15_000014_create_hotel_quota_table.php
  modules/Hotel/Application/Dto/QuotaDto.php
  modules/Hotel/Domain/Entity/RoomQuota.php
  modules/Hotel/Domain/Factory/RoomQuotaFactory.php
  modules/Hotel/Infrastructure/Models/Room/Quota.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
Due: none

feat: update release days
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/UpdateQuotaRequest.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Facades/Hotel/QuotaAdapter.php
  apps/admin/resources/lib/api/hotel/quotas.ts
  modules/Hotel/Application/Command/UpdateRoomQuota.php
  modules/Hotel/Application/Command/UpdateRoomQuotaHandler.php
  modules/Hotel/Application/Dto/QuotaDto.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Domain/Repository/RoomQuotaRepositoryInterface.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
Due: admin-eslint

feat: update release days
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
Due: none

feat: update release days + update markup settings
  apps/admin/app/Http/Controllers/Hotel/CancelConditionController.php
  apps/admin/app/Http/Controllers/Hotel/MarkupSettingsController.php
  apps/admin/app/Http/Requests/Hotel/UpdateClientMarkupsRequest.php
  apps/admin/app/Providers/AdapterServiceProvider.php
  apps/admin/app/Support/Adapters/Hotel/MarkupSettingsAdapter.php
  apps/admin/app/Support/Adapters/Hotel/ResidenceConditionAdapter.php
  apps/admin/app/Support/Facades/Hotel/MarkupSettingsAdapter.php
  apps/admin/routes/hotel.php
  modules/Hotel/Port/Controllers/MarkupController.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
  modules/Hotel/Port/routes.php
Due: none

feat: update markup client settings
  apps/admin/app/Http/Controllers/Hotel/MarkupSettingsController.php
  modules/Hotel/Application/Command/UpdateClientMarkups.php
  modules/Hotel/Application/Command/UpdateClientMarkupsHandler.php
  modules/Hotel/Domain/Repository/MarkupSettingsRepositoryInterface.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/ClientMarkups.php
  modules/Hotel/Infrastructure/Repository/MarkupSettingsRepository.php
  modules/Hotel/Port/Controllers/MarkupController.php
Due: none

feat: update markup client settings
  modules/Hotel/Infrastructure/Repository/MarkupSettingsRepository.php
Due: none

feat: notification module
  composer.lock
  modules/Services/NotificationManager/Domain/Listener/CustomerRegisteredListener.php
  modules/Services/NotificationManager/Domain/Notification/CustomerRegistered.php
  modules/Services/NotificationManager/Domain/Notification/NotificationInterface.php
  modules/Services/NotificationManager/Domain/Support/Listener/AdministratorsNotificationTrait.php
  modules/Services/NotificationManager/Domain/Support/Listener/CustomerNotificationTrait.php
Due: none

refactor: adapters
  apps/admin/app/Support/Adapters/Hotel/MarkupSettingsAdapter.php
  apps/admin/app/Support/Adapters/Hotel/PricesAdapter.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Adapters/MailAdapter.php
  apps/core/app/Support/Adapters/AbstractHotelAdapter.php
  apps/core/app/Support/Adapters/AbstractMailAdapter.php
  apps/core/app/Support/Adapters/AbstractModuleAdapter.php
  apps/core/app/Support/Adapters/AbstractPortAdapter.php
  apps/core/app/Support/Adapters/CurrencyAdapter.php
  apps/core/app/Support/Adapters/FileAdapter.php
  apps/core/app/Support/Adapters/NotificationAdapter.php
  modules/Booking/Hotel/Infrastructure/Adapter/FileStorageAdapter.php
  modules/HotelOld/Infrastructure/Adapter/ReservationAdapter.php
  modules/Integration/Traveline/Infrastructure/Adapter/HotelAdapter.php
  modules/Integration/Traveline/Infrastructure/Adapter/ReservationAdapter.php
  modules/Services/NotificationManager/Infrastructure/Adapter/MailAdapter.php
  modules/Services/NotificationManager/Infrastructure/Adapter/SmsAdapter.php
  modules/Services/NotificationManager/Providers/EventServiceProvider.php
  modules/Shared/Infrastructure/Adapter/AbstractModuleAdapter.php
  modules/Shared/Infrastructure/Adapter/AbstractPortAdapter.php
Due: none

refactor: hotel markup settings update
  modules/Hotel/Application/Command/UpdateClientMarkupsHandler.php
  modules/Hotel/Domain/Repository/MarkupSettingsRepositoryInterface.php
  modules/Hotel/Domain/Service/MarkupSettingsUpdater.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelMarkupOption.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriod.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/ClientMarkups.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/Condition.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupOption.php
  modules/Hotel/Infrastructure/Repository/MarkupSettingsRepository.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/Shared/Domain/Service/DomainSerializerInterface.php
  modules/Shared/Domain/ValueObject/Percent.php
  modules/Shared/Infrastructure/Service/JsonSerializer.php
  modules/Shared/Infrastructure/Service/PhoneDecorator/Format/DefaultFormat.php
  modules/Shared/Infrastructure/Service/PhoneDecorator/Format/FormatInterface.php
  modules/Shared/Infrastructure/Service/PhoneDecorator/Format/KZ.php
  modules/Shared/Infrastructure/Service/PhoneDecorator/Format/RU.php
  modules/Shared/Infrastructure/Service/PhoneDecorator/Format/UZ.php
  modules/Shared/Infrastructure/Service/PhoneDecorator/PhoneDecorator.php
  modules/Shared/Providers/BootServiceProvider.php
  src/Framework/Contracts/Bus/CommandHandlerInterface.php
Due: none

refactor: shared providers
  apps/core/app/Providers/ModulesServiceProvider.php
  apps/core/helpers.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/Shared/Providers/BootServiceProvider.php
  src/Framework/Foundation/Module.php
Due: none

refactor: shared providers
  apps/core/app/Providers/SharedServiceProvider.php
  apps/core/app/Support/Adapters/ConstantAdapter.php
  apps/core/app/Support/Facades/Constants.php
  apps/core/helpers.php
  modules/Services/NotificationManager/Domain/Listener/Customer/CustomerRegisteredListener.php
  modules/Services/NotificationManager/Domain/Notification/Customer/CustomerRegistered.php
  modules/Shared/Domain/Service/ConstantManager.php
  modules/Shared/Providers/BootServiceProvider.php
  src/Framework/Foundation/Support/Providers/SharedServiceProvider.php
Due: none

Quotas filters types
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: markup settings updater
  apps/admin/app/Http/Controllers/Hotel/MarkupSettingsController.php
  apps/admin/app/Http/Requests/Hotel/AddMarkupSettingsConditionsRequest.php
  apps/admin/app/Http/Requests/Hotel/DeleteMarkupSettingsConditionsRequest.php
  apps/admin/app/Http/Requests/Hotel/UpdateClientMarkupsRequest.php
  apps/admin/app/Http/Requests/Hotel/UpdateMarkupSettingsRequest.php
  apps/admin/app/Support/Adapters/Hotel/MarkupSettingsAdapter.php
  apps/admin/app/Support/Facades/Hotel/MarkupSettingsAdapter.php
  apps/admin/routes/hotel.php
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  modules/Hotel/Application/Command/UpdateClientMarkups.php
  modules/Hotel/Application/Command/UpdateClientMarkupsHandler.php
  modules/Hotel/Application/Dto/MarkupSettings/MarkupSettingsDto.php
  modules/Hotel/Domain/Entity/MarkupSettings.php
  modules/Hotel/Domain/Repository/MarkupSettingsRepositoryInterface.php
  modules/Hotel/Domain/Service/MarkupSettingsUpdater.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelMarkupOption.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriodCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/EarlyCheckInCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/LateCheckOutCollection.php
  modules/Hotel/Infrastructure/Repository/MarkupSettingsRepository.php
  modules/Hotel/Port/Controllers/MarkupController.php
  modules/Hotel/Port/Controllers/MarkupSettingsController.php
  modules/Hotel/Port/routes.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/Shared/Domain/Service/DomainSerializerInterface.php
  modules/Shared/Infrastructure/Service/JsonSerializer.php
  src/Framework/Contracts/Bus/CommandHandlerInterface.php
Due: none

Quotas filters actions wrapping
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Use @floating-ui for quotas day menu; use Bootstrap design for it
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

Rename HeadingCell to RoomHeader
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
  apps/admin/resources/views/hotel/quotas/components/RoomHeader.vue
Due: admin-eslint, admin-stylelint, admin-vue

Day menu by context menu action
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/use-day-menu.ts
  apps/admin/resources/views/hotel/quotas/components/EditableCell.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

Fix filters changed state
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Display count_total as quota cell
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/views/hotel/quotas/components/EditableCell.vue
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: markup settings updater
  modules/Hotel/Domain/Service/MarkupSettingsUpdater.php
  modules/Hotel/Port/Controllers/MarkupSettingsController.php
Due: none

Update hotel room quotas update API
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: currency rates(ex price lists)
  apps/admin/app/Http/Controllers/Client/CurrencyRateController.php
  apps/admin/app/Models/Client/CurrencyRate.php
  apps/admin/app/Models/Hotel/PriceList.php
  apps/admin/factories/client/currency-rate.php
  apps/admin/factories/hotel/price-list.php
  database/migrations/deprecated/2023_04_12_000006_fill_price_lists_table.php
  database/migrations/hold/2023_02_16_000005_create_price_lists_table.php
  database/migrations/install/2023_02_16_000005_create_price_lists_table.php
Due: none

Update hotel room quotas update status API
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/use-day-menu-button-status.ts
  apps/admin/resources/views/hotel/quotas/components/DayMenu/use-day-menu.ts
  apps/admin/resources/views/hotel/quotas/components/EditableCell.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

Day menu arrow
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
Due: admin-eslint, admin-stylelint, admin-vue

Day cell max with
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: currency rates(ex price lists)
  apps/admin/app/Http/Controllers/Client/CurrencyRateController.php
  apps/admin/app/Models/Client/CurrencyRate.php
Due: none

feat: reset quota api method
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Facades/Hotel/QuotaAdapter.php
  apps/admin/routes/hotel.php
  modules/Hotel/Application/Command/ResetRoomQuota.php
  modules/Hotel/Application/Command/ResetRoomQuotaHandler.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Domain/Repository/RoomQuotaRepositoryInterface.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
  modules/Hotel/Port/routes.php
Due: none

feat: reset quota api method
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
Due: none

Reset quotas
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
Due: admin-eslint, admin-stylelint, admin-vue

Replace onFetch[Finally/Response] with data success watch
  apps/admin/resources/lib/api/hotel/images.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

Fix image remove toast display
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Better useAPI code style
  apps/admin/resources/lib/api/hotel/images.ts
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/lib/api/hotel/room.ts
  apps/admin/resources/lib/api/hotel/rooms.ts
  apps/admin/resources/lib/vue.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
Due: admin-eslint, admin-stylelint, admin-vue

Move props null check on beforeFetch to API constructor
  apps/admin/resources/lib/api/city.ts
  apps/admin/resources/lib/api/hotel/contract.ts
  apps/admin/resources/lib/api/hotel/hotel.ts
  apps/admin/resources/lib/api/hotel/images.ts
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/lib/api/hotel/room.ts
  apps/admin/resources/lib/api/hotel/rooms.ts
  apps/admin/resources/lib/api/index.ts
Due: admin-eslint

Add tsc lint step for .ts files
  apps/admin/package.json
  lefthook.yml
Due: none

Move url null check to API constructor
  apps/admin/resources/lib/api/city.ts
  apps/admin/resources/lib/api/hotel/contract.ts
  apps/admin/resources/lib/api/hotel/hotel.ts
  apps/admin/resources/lib/api/hotel/images.ts
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/lib/api/hotel/room.ts
  apps/admin/resources/lib/api/hotel/rooms.ts
  apps/admin/resources/lib/api/index.ts
  apps/admin/resources/lib/vue.ts
Due: admin-eslint

Split images and quotas API to separate files
  apps/admin/resources/lib/api/hotel/get.ts
  apps/admin/resources/lib/api/hotel/images.ts
  apps/admin/resources/lib/api/hotel/images/index.ts
  apps/admin/resources/lib/api/hotel/images/list.ts
  apps/admin/resources/lib/api/hotel/images/remove.ts
  apps/admin/resources/lib/api/hotel/images/reorder.ts
  apps/admin/resources/lib/api/hotel/images/update.ts
  apps/admin/resources/lib/api/hotel/images/upload.ts
  apps/admin/resources/lib/api/hotel/quotas.ts
  apps/admin/resources/lib/api/hotel/quotas/index.ts
  apps/admin/resources/lib/api/hotel/quotas/list.ts
  apps/admin/resources/lib/api/hotel/quotas/status.ts
  apps/admin/resources/lib/api/hotel/quotas/update.ts
  apps/admin/resources/lib/api/hotel/room.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/use-day-menu-button-status.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
Due: admin-eslint, admin-stylelint, admin-vue
