Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    admin-eslint:
      root: "apps/admin"
      glob: "*.{js,ts,vue}"
      run: npx eslint {staged_files}
    admin-stylelint:
      root: "apps/admin"
      glob: "*.{vue,scss}"
      run: npx stylelint {staged_files}
    admin-vue:
      root: "apps/admin"
      glob: "*.vue"
      run: npx vue-tsc --noEmit

Add ~api alias
  apps/admin/.eslintrc.js
  apps/admin/resources/api/city.ts
  apps/admin/resources/api/hotel/contract.ts
  apps/admin/resources/api/hotel/get.ts
  apps/admin/resources/api/hotel/images/index.ts
  apps/admin/resources/api/hotel/images/list.ts
  apps/admin/resources/api/hotel/images/remove.ts
  apps/admin/resources/api/hotel/images/reorder.ts
  apps/admin/resources/api/hotel/images/update.ts
  apps/admin/resources/api/hotel/images/upload.ts
  apps/admin/resources/api/hotel/quotas/index.ts
  apps/admin/resources/api/hotel/quotas/list.ts
  apps/admin/resources/api/hotel/quotas/status.ts
  apps/admin/resources/api/hotel/quotas/update.ts
  apps/admin/resources/api/hotel/room.ts
  apps/admin/resources/api/hotel/rooms.ts
  apps/admin/resources/api/index.ts
  apps/admin/resources/lib/api/hotel/quotas/index.ts
  apps/admin/resources/lib/date.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/use-day-menu-button-status.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasTable.vue
  apps/admin/resources/views/hotel/quotas/components/lib/index.ts
  apps/admin/resources/views/hotel/quotas/components/lib/use-range.ts
  apps/admin/resources/views/hotel/season/season.ts
  apps/admin/tsconfig.json
  apps/admin/vite.config.ts
Due: admin-eslint, admin-stylelint, admin-vue

Show toast on server error
  apps/admin/resources/api/index.ts
Due: admin-eslint

Remove 2 and 3 years intervals
  apps/admin/resources/api/hotel/quotas/list.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/lib.ts
Due: admin-eslint, admin-stylelint, admin-vue

Style toast in Bootstrap; extract Bootstrap configuration to SCSS module
  apps/admin/.stylelintrc.json
  apps/admin/resources/api/index.ts
  apps/admin/resources/components/Bootstrap/BootstrapButton/BootstrapButton.vue
  apps/admin/resources/components/Bootstrap/BootstrapToast/BootstrapToast.vue
  apps/admin/resources/components/Bootstrap/BootstrapToast/index.ts
  apps/admin/resources/lib/toast.ts
  apps/admin/resources/sass/vendor/bootstrap/common.scss
  apps/admin/resources/sass/vendor/bootstrap/configuration.scss
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Rename QuotasTable to RoomQuotas
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/RoomQuotas.vue
Due: admin-eslint, admin-stylelint, admin-vue

Update env
  apps/admin/.env.example
  apps/admin/resources/env.d.ts
Due: admin-eslint

Replace useUrlParams with injectInitialData in Vue
  apps/admin/.eslintrc.js
  apps/admin/app/Http/Controllers/Hotel/ImageController.php
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/resources/lib/vue.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/images.blade.php
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/quotas.blade.php
Due: admin-eslint, admin-stylelint, admin-vue

Rename QuotasTables to HotelQuotas
  apps/admin/resources/views/hotel/quotas/HotelQuotas.vue
  apps/admin/resources/views/hotel/quotas/quotas.blade.php
  apps/admin/resources/views/hotel/quotas/quotas.ts
Due: admin-eslint, admin-stylelint, admin-vue

Fix only-icon buttons color
  apps/admin/resources/components/Bootstrap/BootstrapButton/BootstrapButton.vue
Due: admin-eslint, admin-stylelint, admin-vue

Configure ESLint' quote-props
  apps/admin/.eslintrc.js
  apps/admin/resources/js/app/api/index.ts
Due: admin-eslint

Replace Moment with Luxon, remove moment from dependencies, use only in daterangepicker via it's pre-built asset
  apps/admin/.eslintrc.js
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/globals.d.ts
  apps/admin/resources/js/vendor/daterangepicker.js
  apps/admin/resources/js/vendor/daterangepicker.ts
  apps/admin/resources/js/vendor/moment.js
  apps/admin/resources/lib/date.ts
  apps/admin/resources/views/hotel/season/season.ts
  apps/admin/resources/views/main.ts
Due: admin-eslint

Replace url-params.ts with initial-data.ts in season views
  apps/admin/app/Http/Controllers/Hotel/SeasonController.php
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/lib/initial-data.ts
  apps/admin/resources/lib/url-params.ts
  apps/admin/resources/lib/vue.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/images.blade.php
  apps/admin/resources/views/hotel/quotas/HotelQuotas.vue
  apps/admin/resources/views/hotel/quotas/quotas.blade.php
  apps/admin/resources/views/hotel/season/create.blade.php
  apps/admin/resources/views/hotel/season/edit.blade.php
  apps/admin/resources/views/hotel/season/edit.ts
  apps/admin/resources/views/hotel/season/form/form.blade.php
  apps/admin/resources/views/layouts/common.blade.php
  apps/admin/vite.config.ts
Due: admin-eslint, admin-stylelint, admin-vue

Hotel room images title
  apps/admin/app/Http/Controllers/Hotel/ImageController.php
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: client currency rates
  apps/admin/app/Enums/Hotel/PriceListStatusEnum.php
  apps/admin/app/Http/Controllers/Client/ClientController.php
  apps/admin/app/Http/Controllers/Client/CurrencyRateController.php
  apps/admin/app/Http/Requests/Client/SearchCurrenciesRequest.php
  apps/admin/app/Http/Resources/Currency.php
  apps/admin/app/Models/Client/CurrencyRate.php
  apps/admin/resources/views/client/currency-rate/create/create.blade.php
  apps/admin/resources/views/client/currency-rate/edit/edit.blade.php
  apps/admin/resources/views/client/currency-rate/main.js
  apps/admin/routes/boot.php
  apps/admin/routes/client.php
  apps/admin/vite.config.ts
  modules/Hotel/Application/Command/UpdateMarkupSettingsValue.php
  modules/Hotel/Application/Command/UpdateMarkupSettingsValueHandler.php
  modules/Hotel/Domain/Service/MarkupSettingsUpdater.php
  modules/Hotel/Port/Controllers/MarkupSettingsController.php
  src/Framework/Database/Eloquent/HasQuicksearch.php
Due: admin-eslint

refactor: HasQuicksearch
  src/Framework/Database/Eloquent/HasQuicksearch.php
Due: none

feat: hotel markup settings
  apps/admin/app/Support/Adapters/Hotel/MarkupSettingsAdapter.php
  modules/Hotel/Application/Command/UpdateMarkupSettingsValue.php
  modules/Hotel/Application/Command/UpdateMarkupSettingsValueHandler.php
  modules/Hotel/Application/Enums/UpdateMarkupSettingsActionEnum.php
  modules/Hotel/Domain/Service/MarkupSettingsUpdater.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriodCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupOption.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/EarlyCheckInCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/LateCheckOutCollection.php
  modules/Hotel/Port/Controllers/MarkupSettingsController.php
  modules/Hotel/Port/routes.php
  modules/Shared/Domain/ValueObject/TimePeriod.php
Due: none

feat: get quota request validation
  apps/admin/app/Http/Requests/Hotel/GetQuotaRequest.php
Due: none

Validate quotas
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/components/Bootstrap/BootstrapToast/BootstrapToast.vue
  apps/admin/resources/lib/tooltip/install-tooltip.ts
  apps/admin/resources/lib/tooltip/style.scss
  apps/admin/resources/lib/vue.ts
  apps/admin/resources/sass/vendor/bootstrap/configuration.scss
  apps/admin/resources/sass/vendor/floating-vue.scss
  apps/admin/resources/views/hotel/quotas/components/EditableCell.vue
  apps/admin/resources/views/hotel/quotas/components/RoomQuotas.vue
Due: admin-eslint, admin-stylelint, admin-vue

Code style
  apps/admin/resources/lib/platform.ts
  apps/admin/resources/views/hotel/quotas/components/EditableCell.vue
Due: admin-eslint, admin-stylelint, admin-vue

Move sold and reserve to separate row
  apps/admin/resources/views/hotel/quotas/components/RoomQuotas.vue
Due: admin-eslint, admin-stylelint, admin-vue

Fix quotas ranges, allow selecting in all room months
  apps/admin/resources/views/hotel/quotas/components/EditableCell.vue
  apps/admin/resources/views/hotel/quotas/components/RoomQuotas.vue
  apps/admin/resources/views/hotel/quotas/components/lib/use-range.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: small things in settings, images and seasons
  apps/admin/app/Http/Controllers/Hotel/ImageController.php
  apps/admin/resources/views/hotel/season/create.blade.php
  apps/admin/resources/views/hotel/season/edit.blade.php
  apps/admin/resources/views/hotel/settings/MarkupConditions.vue
  apps/admin/resources/views/hotel/settings/settings.blade.php
  apps/admin/resources/views/hotel/settings/settings.ts
Due: admin-eslint, admin-stylelint, admin-vue

Overlay loading quota table on submit
  apps/admin/resources/components/OverlayLoading.vue
  apps/admin/resources/views/hotel/quotas/components/RoomQuotas.vue
Due: admin-eslint, admin-stylelint, admin-vue

refactor: hotel settings
  apps/admin/resources/views/hotel/settings/settings.blade.php
  apps/admin/resources/views/hotel/settings/settings.ts
Due: admin-eslint

feat: update markup settings
  modules/Hotel/Application/Command/UpdateMarkupSettingsValueHandler.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/CancelPeriodCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/EarlyCheckInCollection.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/LateCheckOutCollection.php
  modules/Shared/Domain/ValueObject/TimePeriod.php
Due: none

feat: update markup settings
  modules/Hotel/Application/Command/UpdateMarkupSettingsValueHandler.php
Due: none

Move file
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/FiltersSelect.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Compact select for quotas filters
  apps/admin/resources/components/Bootstrap/BootstrapSelectBase.vue
  apps/admin/resources/components/Bootstrap/CompactSelect.vue
  apps/admin/resources/components/Bootstrap/lib.ts
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/FiltersSelect.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Quotas design
  apps/admin/resources/components/BaseLayout.vue
  apps/admin/resources/sass/layout/layout.scss
  apps/admin/resources/views/hotel/quotas/HotelQuotas.vue
  apps/admin/resources/views/hotel/quotas/components/RoomQuotas.vue
Due: admin-eslint, admin-stylelint, admin-vue

Use bootstrap configuration instead of variables
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/views/hotel/quotas/components/RoomHeader.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: quota availability
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/GetQuotaRequest.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAvailabilityEnum.php
  apps/admin/app/Support/Facades/Hotel/QuotaAdapter.php
  modules/Hotel/Application/Enums/QuotaAvailabilityEnum.php
  modules/Hotel/Application/Query/GetQuotas.php
  modules/Hotel/Application/Query/GetQuotasHandler.php
  modules/Hotel/Domain/Repository/RoomQuotaRepositoryInterface.php
  modules/Hotel/Infrastructure/Models/Room/Quota.php
  modules/Hotel/Infrastructure/Models/Room/QuotaStatusEnum.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
Due: none

Remove exceptions from ESLint camelcase config
  apps/admin/.eslintrc.js
Due: admin-eslint

feat: currency rates
  apps/admin/app/Http/Controllers/Client/CurrencyRateController.php
  apps/admin/resources/views/client/currency-rate/create/create.blade.php
  apps/admin/resources/views/client/currency-rate/edit/edit.blade.php
  apps/admin/resources/views/client/currency-rate/main.js
Due: admin-eslint

refactor: hack for old MariaDB version
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
Due: none

feat: percent only positive int validation
  modules/Shared/Domain/ValueObject/Percent.php
Due: none

feat: add Uint VO
  modules/Shared/Domain/ValueObject/Percent.php
  modules/Shared/Domain/ValueObject/Uint.php
Due: none

fix: negative count_available fix
  database/migrations/deprecated/2023_04_12_000006_fill_hotel_room_quota.php
Due: none

Ad contributing.md
  apps/admin/README.md
  apps/admin/contributing.md
Due: none

requestInitialData unique keys
  apps/admin/resources/lib/initial-data.ts
  apps/admin/resources/views/hotel/season/edit.blade.php
  apps/admin/resources/views/hotel/season/edit.ts
Due: admin-eslint
