Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-vue:
  run: npx vue-tsc --noEmit

fix: update hotel rule error
  apps/admin/app/Http/Controllers/Hotel/RuleController.php
  apps/admin/app/Support/Http/Actions/DefaultFormUpdateAction.php
Due: none

code style
  apps/admin/resources/lib/api/index.ts
Due: admin-eslint

update package-lock.json
  apps/admin/package-lock.json
Due: none

Better TinyMCE loading
  apps/admin/resources/assets/tinymce.js
  apps/admin/resources/js/plugins/htmleditor/default.ts
  apps/admin/resources/js/plugins/htmleditor/htmleditor.js
  apps/admin/resources/js/plugins/htmleditor/loader.ts
  apps/admin/resources/views/hotel/notes/notes.blade.php
  apps/admin/resources/views/hotel/notes/notes.scss
  apps/admin/resources/views/mail/template/form.blade.php
  apps/admin/resources/views/mail/template/form.scss
  apps/admin/vite.config.ts
Due: admin-eslint, admin-stylelint

feat: contract name for seasons
  apps/admin/app/Http/Controllers/Hotel/ContractController.php
  apps/admin/app/Http/Controllers/Hotel/SeasonController.php
  apps/admin/app/Models/Hotel/Contract.php
  apps/admin/app/Models/Hotel/Season.php
  apps/admin/app/Support/Facades/Format.php
Due: none

feat: notifications
  apps/admin/app/Http/Controllers/Administration/MailQueueController.php
  apps/admin/app/Http/Controllers/Administration/MailTemplateController.php
  apps/admin/factories/administration/mail-queue.php
  apps/admin/resources/lang/ru.json
  apps/admin/routes/boot.php
  apps/admin/routes/mail.php
  database/migrations/install/2023_02_11_000103_create_notifications_table.php
  modules/Services/MailManager/Domain/ValueObject/MailTemplateEnum.php
  modules/Services/NotificationManager/Domain/Entity/Notifiable.php
  modules/Services/NotificationManager/Domain/Entity/NotifiableInterface.php
  modules/Services/NotificationManager/Domain/Entity/Recipient/AdministratorGroup.php
  modules/Services/NotificationManager/Domain/Entity/Recipient/ClientContacts.php
  modules/Services/NotificationManager/Domain/Entity/Recipient/ClientManagers.php
  modules/Services/NotificationManager/Domain/Entity/Recipient/HotelAdministrators.php
  modules/Services/NotificationManager/Domain/Entity/Recipient/HotelContacts.php
  modules/Services/NotificationManager/Domain/Entity/Recipient/RecipientInterface.php
  modules/Services/NotificationManager/Domain/Factory/NotifiableFactoryInterface.php
  modules/Services/NotificationManager/Domain/Listener/CustomerRegisteredListener.php
  modules/Services/NotificationManager/Domain/Notifiable/Administrator.php
  modules/Services/NotificationManager/Domain/Notifiable/ClientContact.php
  modules/Services/NotificationManager/Domain/Notifiable/ClientManager.php
  modules/Services/NotificationManager/Domain/Notifiable/EmailAddress.php
  modules/Services/NotificationManager/Domain/Notifiable/HotelAdministrator.php
  modules/Services/NotificationManager/Domain/Notifiable/HotelContact.php
  modules/Services/NotificationManager/Domain/Notification/CustomerRegistered.php
  modules/Services/NotificationManager/Domain/Repository/NotifiableRepositoryInterface.php
  modules/Services/NotificationManager/Domain/Service/NotificationManager.php
  modules/Services/NotificationManager/Domain/ValueObject/NotifiableList.php
  modules/Services/NotificationManager/Domain/ValueObject/NotifiableTypeEnum.php
  modules/Services/NotificationManager/Domain/ValueObject/NotificationEnum.php
  modules/Services/NotificationManager/Infrastructure/Factory/NotifiableFactory.php
  modules/Services/NotificationManager/Port/Controllers/MainController.php
  modules/Services/NotificationManager/Providers/BootServiceProvider.php
  modules/Services/NotificationManager/Providers/EventServiceProvider.php
  src/Framework/Contracts/Event/IntegrationEventListenerInterface.php
Due: none

fix: site index stub
  apps/site/public/index.php
Due: none

feat: hotel room quota + traveline env (p.1)
  .env.example
  apps/admin/app/Http/Controllers/Hotel/HotelController.php
  apps/admin/app/Http/Controllers/Hotel/ImageController.php
  apps/admin/app/Http/Controllers/Hotel/PriceListController.php
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/GetQuotaRequest.php
  apps/admin/app/Http/Requests/Hotel/UpdateQuotaRequest.php
  apps/admin/app/Http/Resources/Room.php
  apps/admin/app/Http/Resources/RoomQuota.php
  apps/admin/app/Providers/AdapterServiceProvider.php
  apps/admin/app/Support/Adapters/Hotel/PricesAdapter.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Facades/Hotel/QuotaAdapter.php
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/views/hotel/season/season.ts
  apps/admin/routes/hotel.php
  apps/core/app/Validation/Rules/DateIntervalRule.php
  config/modules.php
  modules/Booking/Hotel/Domain/Factory/RoomFactory.php
  modules/Hotel/Application/Dto/QuotaDto.php
  modules/Hotel/Application/Query/GetRoomQuota.php
  modules/Hotel/Application/Query/GetRoomQuotaHandler.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Domain/Entity/RoomQuota.php
  modules/Hotel/Domain/Factory/RoomQuotaFactory.php
  modules/Hotel/Domain/Repository/RoomQuotaRepositoryInterface.php
  modules/Hotel/Infrastructure/Models/Room/Quota.php
  modules/Hotel/Infrastructure/Models/Room/QuotaStatusEnum.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
  modules/Hotel/Port/routes.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/HotelOld/Application/Service/RoomPriceUpdater.php
  modules/Integration/Traveline/Application/Service/QuotaAndPriceUpdater.php
  modules/Integration/Traveline/Infrastructure/Adapter/ReservationAdapter.php
  modules/Shared/Infrastructure/Facade/DomainModelNormalizer.php
Due: admin-eslint

feat: change site domain to www.gts.local
  docker/nginx/site.conf
Due: none

Add primary button severity
  apps/admin/resources/components/BaseButton.vue
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Add modal
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/components/BodyScrollLock.vue
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: room quota api
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/GetQuotaRequest.php
  apps/admin/app/Http/Requests/Hotel/UpdateQuotaRequest.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Facades/Hotel/QuotaAdapter.php
  apps/admin/routes/hotel.php
  docker/nginx/site.conf
  modules/Hotel/Application/Command/CloseRoomQuota.php
  modules/Hotel/Application/Command/CloseRoomQuotaHandler.php
  modules/Hotel/Application/Command/OpenRoomQuota.php
  modules/Hotel/Application/Command/OpenRoomQuotaHandler.php
  modules/Hotel/Application/Command/UpdateRoomQuota.php
  modules/Hotel/Application/Command/UpdateRoomQuotaHandler.php
  modules/Hotel/Application/Dto/RoomDto.php
  modules/Hotel/Application/Query/GetRoomById.php
  modules/Hotel/Application/Query/GetRoomByIdHandler.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Domain/Entity/PriceRate.php
  modules/Hotel/Infrastructure/Models/Room.php
  modules/Hotel/Infrastructure/Models/Room/Bed.php
  modules/Hotel/Infrastructure/Models/Room/PriceRate.php
  modules/Hotel/Infrastructure/Models/Room/Quota.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Infrastructure/Repository/RoomRepository.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/HotelOld/Application/Dto/Info/PriceRateDto.php
Due: none

feat: room quota api
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/GetQuotaRequest.php
  apps/admin/app/Http/Requests/Hotel/UpdateQuotaRequest.php
  apps/admin/routes/hotel.php
Due: none

feat: room quota api close/open
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/UpdateQuotaRequest.php
  apps/admin/app/Support/Adapters/Hotel/QuotaAdapter.php
  apps/admin/app/Support/Facades/Hotel/QuotaAdapter.php
  modules/Hotel/Application/Command/CloseRoomQuota.php
  modules/Hotel/Application/Command/OpenRoomQuota.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
Due: none

feat: room quota api close/open
  apps/admin/app/Http/Controllers/Hotel/QuotaController.php
  apps/admin/app/Http/Requests/Hotel/UpdateQuotaStatusRequest.php
  apps/admin/routes/hotel.php
Due: none

Design hotel images
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/components/ImageZoom.vue
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Hotel images loading state
  apps/admin/resources/components/BaseLayout.vue
  apps/admin/resources/components/LoadingSpinner.vue
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Delete hotel image UI, button loading state, dialog disabled state
  apps/admin/resources/components/BaseButton.vue
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/models.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: traveline module config
  modules/Booking/Hotel/Domain/Factory/RoomFactory.php
  modules/HotelOld/Application/Service/RoomPriceUpdater.php
  modules/Integration/Traveline/Application/Service/QuotaAndPriceUpdater.php
  modules/Integration/Traveline/Domain/Entity/Config.php
  modules/Integration/Traveline/Domain/Entity/ConfigInterface.php
  modules/Integration/Traveline/Domain/Exception/UnsupportedCurrency.php
  modules/Integration/Traveline/Infrastructure/Adapter/ReservationAdapter.php
  modules/Integration/Traveline/Providers/BootServiceProvider.php
Due: none

Add toasts; show success toast on image delete
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/lib/toast.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Add dropzone; tiny button; do not let close dialog with button when it's disabled
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/components/BaseButton.vue
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/components/DropZone.vue
Due: admin-eslint, admin-stylelint, admin-vue

refactor: deprecated & perf
  apps/admin/app/View/Components/UserAvatar.php
  apps/admin/resources/views/administration/access-group-form/access-group-form.ts
  apps/admin/resources/views/hotel/main/main.ts
  apps/admin/resources/views/layouts/common.blade.php
  apps/admin/resources/views/layouts/main/header.blade.php
  apps/admin/resources/views/layouts/main/sidebar.blade.php
  apps/admin/resources/views/main.ts
  apps/admin/resources/views/profile/profile/profile.ts
  apps/admin/resources/views/service-provider/show.js
Due: admin-eslint

fix: exception handler
  apps/admin/app/Exceptions/Handler.php
Due: none

refactor: traveline module config
  .env.example
  config/modules.php
  modules/Booking/Hotel/Domain/Factory/RoomFactory.php
  modules/HotelOld/Application/Service/RoomPriceUpdater.php
  modules/Integration/Traveline/Application/Service/QuotaAndPriceUpdater.php
  modules/Integration/Traveline/Domain/Entity/Config.php
  modules/Integration/Traveline/Domain/Entity/ConfigInterface.php
  modules/Integration/Traveline/Infrastructure/Adapter/ReservationAdapter.php
  modules/Integration/Traveline/Providers/BootServiceProvider.php
Due: none

feat: hotel grid search fixes
  apps/admin/.env.example
  apps/admin/app/Http/Controllers/Hotel/HotelController.php
  apps/admin/app/Models/Hotel/Hotel.php
  apps/admin/app/Support/View/Form/Element/Country.php
Due: none

Use Bootstrap for button component
  apps/admin/resources/components/BaseButton.vue
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/components/Bootstrap/BootstrapButton/BootstrapButton.vue
  apps/admin/resources/components/Bootstrap/BootstrapButton/BootstrapButtonsDemo.vue
  apps/admin/resources/components/Bootstrap/BootstrapButton/lib.ts
  apps/admin/resources/components/Bootstrap/lib.ts
  apps/admin/resources/components/LoadingSpinner.vue
  apps/admin/resources/fonts/GoogleSans/style.css
  apps/admin/resources/fonts/MaterialSymbolsOutlined/style.css
  apps/admin/resources/sass/vendor/bootstrap/common.scss
  apps/admin/resources/sass/vendor/bootstrap/spinners.scss
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/components/DropZone.vue
  apps/admin/resources/views/hotel/quotas/QuotasTables.vue
  apps/admin/resources/views/hotel/quotas/components/DayMenu/DayMenu.vue
  apps/admin/resources/views/hotel/quotas/components/QuotasFilters.vue
Due: admin-eslint, admin-stylelint, admin-vue

Fix type
  apps/admin/resources/components/BaseLayout.vue
Due: admin-eslint, admin-stylelint, admin-vue

refactor: namings
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/settings.blade.php
  apps/admin/resources/views/hotel/settings/settings.ts
  database/migrations/install/2023_02_15_000015_create_hotel_images_table.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel additional condition + admin api
  apps/admin/app/Http/Controllers/Hotel/CancelConditionController.php
  apps/admin/app/Http/Controllers/Hotel/ResidenceConditionController.php
  apps/admin/app/Providers/AdapterServiceProvider.php
  apps/admin/app/Support/Adapters/Hotel/ResidenceConditionAdapter.php
  apps/admin/app/Support/Facades/Hotel/ResidenceConditionAdapter.php
  apps/admin/routes/hotel.php
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
  database/migrations/hold/2023_02_16_000005_create_price_lists_table.php
  database/migrations/hold/2023_04_12_000006_fill_price_lists_table.php
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
  modules/Hotel/Application/Dto/AdditionalConditionsDto.php
  modules/Hotel/Application/Service/AdditionalConditionsManager.php
  modules/Hotel/Domain/Repository/AdditionalConditionsRepositoryInterface.php
  modules/Hotel/Domain/ValueObject/AdditionalConditions.php
  modules/Hotel/Domain/ValueObject/ConditionTypeEnum.php
  modules/Hotel/Domain/ValueObject/HotelCancelPeriodEnum.php
  modules/Hotel/Infrastructure/Models/Hotel.php
  modules/Hotel/Infrastructure/Repository/AdditionalConditionsRepository.php
  modules/Hotel/Port/Controllers/AdditionalConditionsController.php
  modules/Hotel/Port/routes.php
  modules/Hotel/Providers/BootServiceProvider.php
  modules/Shared/Infrastructure/Facade/DomainModelNormalizer.php
Due: none

Hotel images upload API code style
  apps/admin/resources/lib/api/hotel.ts
Due: admin-eslint

docs: hotel-markup
  docs/app/hotel-markup.md
Due: none

docs: price-calculation
  docs/app/hotel-markup.md
  docs/app/price-calculation.md
Due: none

refactor: dto
  modules/Booking/Hotel/Application/Dto/ClientDto.php
  modules/Booking/Hotel/Application/Dto/GuestDto.php
  modules/Booking/Hotel/Application/Dto/HotelDto.php
  modules/Booking/Hotel/Application/Dto/ReservationDto.php
  modules/Booking/Hotel/Application/Dto/RoomDto.php
  modules/Shared/Application/Dto/AbstractDomainBasedDto.php
Due: none

feat: update composer deps
  composer.lock
Due: none

feat: hotel contract date filter
  apps/admin/app/Models/Hotel/Hotel.php
Due: none

refactor: try to fix daterangepicker click outside bug
  apps/admin/resources/js/app/providers/grids.js
  apps/admin/resources/js/vendor/daterangepicker.js
Due: admin-eslint

Draggable hotel images
  apps/admin/package-lock.json
  apps/admin/package.json
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Boolean props as MaybeRef
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/components/BaseLayout.vue
  apps/admin/resources/components/Bootstrap/BootstrapButton/BootstrapButton.vue
  apps/admin/resources/views/hotel/images/HotelImages.vue
  apps/admin/resources/views/hotel/images/components/DropZone.vue
Due: admin-eslint, admin-stylelint, admin-vue

Reorder images API
  apps/admin/resources/lib/api/hotel.ts
  apps/admin/resources/views/hotel/images/HotelImages.vue
Due: admin-eslint, admin-stylelint, admin-vue

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-vue: any of: *.vue and ^apps/admin/
