Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-vue:
  run: npx vue-tsc --noEmit

logs
  apps/admin/resources/views/hotel/settings/CancellationConditions.vue
  modules/Hotel/Application/Command/UpdateMarkupSettingsValueHandler.php
  modules/Hotel/Domain/ValueObject/MarkupSettings/DailyMarkupOption.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: sdk support
  modules/Shared/Contracts/CanCompare.php
  modules/Shared/Contracts/CanEquate.php
  modules/Shared/Domain/ValueObject/AbstractIntId.php
  modules/Shared/Domain/ValueObject/Date.php
  modules/Shared/Domain/ValueObject/Price.php
  src/sdk/Module/Support/AbstractValueObjectCollection.php
  src/sdk/Module/Support/Collection.php
  src/sdk/Module/Support/DateTimeImmutable.php
  src/sdk/Module/Support/ItemCollectionIteratorTrait.php
Due: none

feat: create new quota if not exist
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
Due: none

feat: add release days to traveline update request
  modules/Hotel/Application/Command/UpdateRoomQuota.php
  modules/Hotel/Application/Command/UpdateRoomQuotaHandler.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Domain/Repository/RoomQuotaRepositoryInterface.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
  modules/Hotel/Port/routes.php
  modules/Integration/Traveline/Application/Service/QuotaAndPriceUpdater.php
  modules/Integration/Traveline/Domain/Adapter/HotelAdapterInterface.php
  modules/Integration/Traveline/Domain/Api/Request/Update.php
  modules/Integration/Traveline/Infrastructure/Adapter/HotelAdapter.php
Due: none

fix: release days to traveline update request
  modules/Hotel/Application/Command/UpdateRoomQuota.php
  modules/Hotel/Application/Command/UpdateRoomQuotaHandler.php
  modules/Hotel/Application/Service/RoomQuotaUpdater.php
  modules/Hotel/Domain/Repository/RoomQuotaRepositoryInterface.php
  modules/Hotel/Infrastructure/Repository/RoomQuotaRepository.php
  modules/Hotel/Port/Controllers/RoomQuotaController.php
  modules/Integration/Traveline/Application/Service/QuotaAndPriceUpdater.php
  modules/Integration/Traveline/Domain/Adapter/HotelAdapterInterface.php
  modules/Integration/Traveline/Domain/Api/Request/Update.php
  modules/Integration/Traveline/Infrastructure/Adapter/HotelAdapter.php
Due: none

feat: hotel booking prices
  modules/Booking/Hotel/Domain/Entity/RoomBooking.php
  modules/Booking/Hotel/Domain/ValueObject/RoomDayPrice.php
  modules/Booking/Hotel/Domain/ValueObject/RoomDayPriceCollection.php
  modules/Booking/Hotel/Domain/ValueObject/RoomPrice.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/BONonResidentDayPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/BOResidentDayPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/BORoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/DayPriceFormulaInterface.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/HONonResidentDayPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/HOResidentDayPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/HORoomPriceFormula.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Formula/RoomPriceFormulaInterface.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/RoomDayPriceCalculator.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/RoomPriceEditor.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Support/FormulaUtil.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Support/FormulaVariables.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Support/FormulaVariablesFactory.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Support/NetPriceFetcher.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Support/RoomDataHelper.php
  modules/Booking/PriceCalculator/Domain/Service/Hotel/Support/RoomDataHelperFactory.php
  modules/Shared/Domain/ValueObject/DatePeriod.php
  src/sdk/Module/Support/DateTimeImmutable.php
Due: none

feat: add save onclick outside logic to EditableCell
  apps/admin/resources/components/EditableCell.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: markup conditions time logic
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/components/MarkupConditionModal.vue
  apps/admin/resources/views/hotel/settings/components/TimeSelect.vue
  apps/admin/resources/views/hotel/settings/composables/time-conditions.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: WaitingCancellation - not cancelled status
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

fix: hotel fill empty MarkupConditions
  apps/admin/resources/views/hotel/settings/MarkupConditions.vue
  composer.lock
Due: admin-eslint, admin-stylelint, admin-vue

feat: don't create new booking if rooms empty
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

feat: create fake rooms for traveline if rooms_count set
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

feat: validate cancel period editable cell values
  apps/admin/resources/components/EditableCell.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodSettingsTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

refactor: front fixes
  apps/admin/resources/api/booking/price.ts
  apps/admin/resources/components/EditableCell.vue
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel/settings/components/MarkupConditionModal.vue
  lefthook.yml
Due: admin-eslint, admin-stylelint, admin-vue

refactor: change statuses int to status DTO in booking
  apps/admin/resources/api/booking/index.ts
  apps/admin/resources/api/booking/status.ts
  apps/admin/resources/views/hotel-booking/show/components/StatusSelect.vue
  apps/admin/resources/views/hotel/settings/components/MarkupConditionModal.vue
  modules/Booking/Airport/Application/Dto/BookingDto.php
  modules/Booking/Airport/Application/Factory/BookingDtoFactory.php
  modules/Booking/Airport/Application/UseCase/Admin/GetBooking.php
  modules/Booking/Airport/Providers/BootServiceProvider.php
  modules/Booking/Common/Application/Factory/AbstractBookingDtoFactory.php
  modules/Booking/Common/Application/Factory/BookingDtoFactoryInterface.php
  modules/Booking/Common/Application/Query/Admin/GetStatusSettings.php
  modules/Booking/Common/Application/Response/BookingDto.php
  modules/Booking/Common/Application/Service/StatusStorage.php
  modules/Booking/Common/Application/Support/UseCase/Admin/AbstractGetBooking.php
  modules/Booking/Common/Application/Support/UseCase/Admin/GetAvailableActions.php
  modules/Booking/Common/Application/Support/UseCase/Admin/GetStatusHistory.php
  modules/Booking/Common/Application/Support/UseCase/Admin/GetStatuses.php
  modules/Booking/Common/Domain/Entity/AbstractBooking.php
  modules/Booking/Common/Domain/ValueObject/BookingPrice.php
  modules/Booking/Hotel/Application/Dto/BookingDto.php
  modules/Booking/Hotel/Application/Factory/BookingDtoFactory.php
  modules/Booking/Hotel/Application/UseCase/Admin/GetAvailableActions.php
  modules/Booking/Hotel/Application/UseCase/Admin/GetBooking.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/SetManualPrice.php
  modules/Booking/Hotel/Domain/ValueObject/ManualChangablePrice.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
  modules/Booking/Hotel/Providers/BootServiceProvider.php
  modules/Booking/PriceCalculator/Domain/Listener/RecalculateBookingPricesListener.php
  modules/Shared/Application/Dto/AbstractEnumDto.php
Due: admin-eslint, admin-stylelint, admin-vue

refactor: change statuses int to status DTO in booking
  modules/Booking/Airport/Application/Factory/BookingDtoFactory.php
  modules/Booking/Hotel/Application/Factory/BookingDtoFactory.php
Due: none

fix: division by zero
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

fix: guests allocation
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

logs
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

remove logs
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

fix: assert types fixes
  modules/Booking/Airport/Application/UseCase/Admin/GetBooking.php
  modules/Booking/Airport/Providers/BootServiceProvider.php
  modules/Booking/Hotel/Application/UseCase/Admin/GetBooking.php
  modules/Booking/Hotel/Providers/BootServiceProvider.php
Due: none

feat: time condition component for residence conditions (GTS-1935)
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Models/Booking/Booking.php
  apps/admin/app/Repositories/HotelBookingRepository.php
  apps/admin/factories/booking/hotel-booking.php
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/components/GuestModal.vue
  apps/admin/resources/views/hotel-booking/show/components/RoomModal.vue
  apps/admin/resources/views/hotel-booking/show/components/RoomPriceModal.vue
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodModal.vue
  apps/admin/resources/views/hotel/settings/components/ConditionsTable.vue
  apps/admin/resources/views/hotel/settings/components/DailyMarkupModal.vue
  apps/admin/resources/views/hotel/settings/components/MarkupConditionModal.vue
  apps/admin/resources/views/hotel/settings/components/TimePeriodSelect.vue
  apps/admin/resources/views/hotel/settings/composables/time-conditions.ts
  apps/admin/resources/views/service-provider/service/price/ components/PricesModal.vue
  modules/Booking/Common/Application/Support/UseCase/Admin/GetStatusHistory.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: time condition component for residence conditions (GTS-1935)
  apps/admin/resources/views/hotel/settings/components/TimePeriodSelect.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: time condition component for residence conditions (GTS-1935)
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/components/ConditionsTable.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: lock periods for hotel cancel conditions (GTS-1937)
  apps/admin/resources/api/hotel/markup-settings.ts
  apps/admin/resources/components/DateRangePicker.vue
  apps/admin/resources/views/hotel/season/create.blade.php
  apps/admin/resources/views/hotel/season/edit.ts
  apps/admin/resources/views/hotel/settings/CancellationConditions.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodModal.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: lock periods for hotel cancel conditions (GTS-1937)
  apps/admin/resources/components/DateRangePicker.vue
  apps/admin/resources/views/hotel/season/edit.ts
Due: admin-eslint, admin-stylelint, admin-vue

feat: add quicksearch to hotel bookings (GTS-1945)
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Support/Adapters/Booking/HotelAdapter.php
  apps/admin/app/Support/Facades/Booking/HotelAdapter.php
  modules/Booking/Hotel/Application/UseCase/Admin/GetBookingQuery.php
  modules/Booking/Hotel/Domain/Repository/BookingRepositoryInterface.php
  modules/Booking/Hotel/Infrastructure/Models/Booking.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
Due: none

fix: cancel period dates only within contracts dates
  apps/admin/app/Http/Controllers/Hotel/SettingsController.php
  apps/admin/resources/api/hotel/contract.ts
  apps/admin/resources/components/DateRangePicker.vue
  apps/admin/resources/views/hotel/settings/CancellationConditions.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodModal.vue
  apps/admin/resources/views/hotel/settings/settings.blade.php
  apps/admin/routes/hotel.php
Due: admin-eslint, admin-stylelint, admin-vue

fix: cancel period dates only within contracts dates (GTS-1937)
  apps/admin/app/Http/Controllers/Hotel/SettingsController.php
  apps/admin/resources/views/hotel/settings/CancellationConditions.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodSettingsTable.vue
  apps/admin/resources/views/hotel/settings/settings.blade.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel booking filters
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Support/View/Form/Element/NumRange.php
  apps/admin/app/Support/View/Form/ValueObject/NumRangeValue.php
  apps/admin/factories/booking/hotel-booking.php
  apps/admin/resources/globals.d.ts
  apps/admin/resources/js/app/providers/forms.ts
  apps/admin/resources/js/plugins/child-combo.js
  apps/admin/resources/lang/ru.json
  apps/admin/resources/lib/date-picker/date-picker.ts
  apps/admin/resources/views/hotel-booking/main/main.blade.php
  apps/admin/resources/views/hotel-booking/main/main.ts
  apps/core/app/Components/Context/AppContext.php
  apps/core/app/Support/Facades/AppContext.php
  composer.lock
  database/migrations/install/2023_02_17_000002_create_bookings_table.php
  database/migrations/install/2023_02_17_000003_create_booking_hotel_rooms_table.php
  modules/Booking/Common/Infrastructure/Repository/AbstractBookingRepository.php
  modules/Booking/Hotel/Infrastructure/Models/Booking.php
  modules/Booking/Hotel/Infrastructure/Models/RoomBooking.php
  modules/Booking/Hotel/Infrastructure/Repository/RoomBookingRepository.php
Due: admin-eslint

feat: hotel booking editing
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Support/Adapters/Booking/HotelAdapter.php
  apps/admin/app/Support/Facades/Booking/HotelAdapter.php
  apps/admin/resources/js/plugins/child-combo.js
  apps/admin/resources/views/hotel-booking/form/form.ts
  apps/admin/resources/views/hotel-booking/show/store/order-currency.ts
  modules/Booking/Hotel/Application/Request/UpdateBookingDto.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/Update.php
  modules/Booking/Hotel/Application/UseCase/Admin/UpdateBooking.php
  modules/Booking/Hotel/Domain/Entity/Booking.php
  modules/Booking/Hotel/Domain/ValueObject/Details/BookingPeriod.php
  modules/Booking/Order/Application/Command/CreateOrderHandler.php
  modules/Booking/Order/Application/Dto/OrderDto.php
  modules/Booking/Order/Application/Factory/OrderDtoFactory.php
  modules/Booking/Order/Application/Query/FindHandler.php
  modules/Booking/Order/Application/Query/GetActiveOrdersHandler.php
  modules/Booking/Order/Domain/Entity/Order.php
  modules/Booking/Order/Domain/Repository/OrderRepositoryInterface.php
  modules/Booking/Order/Domain/Service/OrderUpdater.php
  modules/Booking/Order/Infrastructure/Repository/OrderRepository.php
  modules/Shared/Application/Dto/CurrencyDto.php
Due: admin-eslint

feat: hotel booking editing
  apps/admin/vite.config.ts
Due: admin-eslint

refactor: change column types to json (new DB version)
  database/migrations/install/2023_02_14_000011_create_client_legals_table.php
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
  database/migrations/install/2023_02_15_000007_create_hotel_rooms_table.php
  database/migrations/install/2023_02_16_000004_create_service_provider_airport_prices_table.php
  database/migrations/install/2023_02_16_000005_create_service_provider_car_prices_table.php
  database/migrations/install/2023_02_17_000002_create_bookings_table.php
  database/migrations/install/2023_02_17_000003_create_booking_hotel_rooms_table.php
  database/migrations/install/2023_02_20_000001_create_booking_changes_log_table.php
Due: none

fix: create booking
  apps/admin/app/Support/Adapters/Booking/HotelAdapter.php
Due: none

fix: admin booking files config
  config/filesystems.php
Due: none

feat: add manager to booking requests and vouchers
  modules/Administrator/Application/Response/AdministratorDto.php
  modules/Administrator/Application/UseCase/GetManagerByBookingId.php
  modules/Administrator/Domain/Entity/Administrator.php
  modules/Administrator/Domain/Repository/AdministratorRepositoryInterface.php
  modules/Administrator/Infrastructure/Models/Administrator.php
  modules/Administrator/Infrastructure/Repository/AdministratorRepository.php
  modules/Administrator/Providers/BootServiceProvider.php
  modules/Booking/Common/Domain/Factory/DocumentGeneratorFactory.php
  modules/Booking/Hotel/Domain/Service/DocumentGenerator/CancellationRequestGenerator.php
  modules/Booking/Hotel/Domain/Service/DocumentGenerator/ChangeRequestGenerator.php
  modules/Booking/Hotel/Domain/Service/DocumentGenerator/ReservationRequestGenerator.php
  modules/Booking/Hotel/Domain/Service/DocumentGenerator/VoucherGenerator.php
  modules/Booking/Hotel/Providers/BootServiceProvider.php
  storage/app/booking/templates/hotel/_partials/manager_requisites.blade.php
  storage/app/booking/templates/hotel/cancellation_request.blade.php
  storage/app/booking/templates/hotel/change_request.blade.php
  storage/app/booking/templates/hotel/reservation_request.blade.php
  storage/app/booking/templates/hotel/voucher.blade.php
Due: none

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-vue: any of: *.vue and ^apps/admin/
