Repository rovsh1/GTSLaravel: changes, and which lefthook commands are due for each by the changed paths.
All: admin-eslint, admin-stylelint, admin-vue

admin-eslint:
  run: npx eslint {staged_files}

admin-stylelint:
  run: npx stylelint {staged_files}

admin-vue:
  run: npx vue-tsc --noEmit

feat: hotel booking manual price updating
  apps/admin/app/Http/Controllers/Booking/Hotel/BookingController.php
  apps/admin/app/Http/Controllers/Booking/Hotel/RoomController.php
  apps/admin/app/Http/Requests/Booking/Room/AddRoomGuestRequest.php
  apps/admin/app/Http/Requests/Booking/Room/AddRoomRequest.php
  apps/admin/app/Http/Requests/Booking/Room/DeleteRoomGuestRequest.php
  apps/admin/app/Http/Requests/Booking/Room/DeleteRoomRequest.php
  apps/admin/app/Http/Requests/Booking/Room/UpdatePriceRequest.php
  apps/admin/app/Http/Requests/Booking/Room/UpdateRoomGuestRequest.php
  apps/admin/app/Http/Requests/Booking/Room/UpdateRoomRequest.php
  apps/admin/app/Http/Requests/Booking/UpdatePriceRequest.php
  apps/admin/app/Support/Adapters/Booking/HotelAdapter.php
  apps/admin/app/Support/Facades/Booking/HotelAdapter.php
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/ControlPanel.vue
  apps/admin/resources/views/hotel-booking/show/components/PriceModal.vue
  apps/admin/resources/views/hotel-booking/show/components/RoomPriceModal.vue
  apps/admin/routes/hotel-booking.php
  modules/Booking/Common/Domain/ValueObject/BookingPrice.php
  modules/Booking/Common/Domain/ValueObject/PriceCalculationNotes.php
  modules/Booking/Hotel/Application/Dto/Details/RoomBooking/RoomPriceDto.php
  modules/Booking/Hotel/Application/UseCase/Admin/Room/UpdatePrice.php
  modules/Booking/Hotel/Application/UseCase/Admin/UpdatePrice.php
  modules/Booking/Hotel/Domain/Entity/Booking.php
  modules/Booking/Hotel/Domain/Entity/RoomBooking.php
  modules/Booking/Hotel/Domain/Service/RoomPriceValidator.php
  modules/Booking/Hotel/Domain/ValueObject/ManualChangablePrice.php
  modules/Booking/Hotel/Domain/ValueObject/Price.php
  modules/Booking/Hotel/Domain/ValueObject/RoomPrice.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
  modules/Booking/PriceCalculator/Domain/Listener/RecalculateBookingPricesListener.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel cancel period settings
  apps/admin/resources/api/hotel/markup-settings.ts
  apps/admin/resources/components/BaseDialog.vue
  apps/admin/resources/components/DateRangePicker.vue
  apps/admin/resources/components/EditableCell.vue
  apps/admin/resources/composables/form.ts
  apps/admin/resources/lib/date-picker/lib.ts
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/components/GuestModal.vue
  apps/admin/resources/views/hotel-booking/show/components/RoomModal.vue
  apps/admin/resources/views/hotel-booking/show/form.ts
  apps/admin/resources/views/hotel/settings/CancellationConditions.vue
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  apps/admin/resources/views/hotel/settings/components/CancelConditionModal.vue
  apps/admin/resources/views/hotel/settings/components/CancelConditionsTable.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodModal.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodSettingsTable.vue
  apps/admin/resources/views/hotel/settings/components/DailyMarkupModal.vue
  apps/admin/resources/views/hotel/settings/components/EditTableRowButton.vue
  apps/admin/resources/views/hotel/settings/components/TimeSelect.vue
  apps/admin/resources/views/hotel/settings/composables/editable-modal.ts
  apps/admin/resources/views/hotel/settings/composables/markup-settings.ts
  apps/admin/resources/views/service-provider/service/price/airport/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/transfer/PricesTable.vue
  composer.lock
  modules/Booking/Common/Domain/Adapter/AdministratorAdapterInterface.php
  modules/Booking/Common/Domain/Adapter/OrderAdapterInterface.php
  modules/Booking/Common/Domain/Factory/DocumentGeneratorFactory.php
  modules/Booking/Common/Infrastructure/Adapter/AdministratorAdapter.php
  modules/Booking/Common/Infrastructure/Adapter/OrderAdapter.php
  modules/Booking/Hotel/Domain/Service/DocumentGenerator/ReservationRequestGenerator.php
  modules/Booking/Providers/BootServiceProvider.php
  modules/Hotel/Application/Command/UpdateMarkupSettingsValueHandler.php
  storage/app/booking/templates/hotel/Архив.zip
Due: admin-eslint, admin-stylelint, admin-vue

feat: external booking number logic + isManual booking prices
  apps/admin/app/Http/Controllers/Booking/Hotel/VoucherController.php
  apps/admin/app/Support/Adapters/Booking/VoucherAdapter.php
  apps/admin/app/Support/Facades/Booking/VoucherAdapter.php
  apps/admin/resources/api/booking/details.ts
  apps/admin/resources/api/booking/index.ts
  apps/admin/resources/api/booking/voucher.ts
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/ControlPanel.vue
  apps/admin/resources/views/hotel-booking/show/store/booking.ts
  apps/admin/resources/views/hotel-booking/show/store/request.ts
  apps/admin/resources/views/hotel-booking/show/store/voucher.ts
  apps/admin/routes/hotel-booking.php
  config/modules.php
  modules/Administrator/Application/UseCase/GetManagerByBookingId.php
  modules/Administrator/Providers/BootServiceProvider.php
  modules/Booking/Airport/Application/Dto/BookingDto.php
  modules/Booking/Common/Application/Query/Admin/GetStatusSettingsHandler.php
  modules/Booking/Common/Application/Response/AvailableActionsDto.php
  modules/Booking/Common/Application/Response/BookingDto.php
  modules/Booking/Common/Application/Response/RequestDto.php
  modules/Booking/Common/Application/Response/StatusDto.php
  modules/Booking/Common/Application/Response/UpdateStatusResponseDto.php
  modules/Booking/Common/Application/Support/UseCase/Admin/AbstractGetBooking.php
  modules/Booking/Common/Application/Support/UseCase/Admin/GetAvailableActions.php
  modules/Booking/Common/Application/Support/UseCase/Admin/GetStatuses.php
  modules/Booking/Common/Application/Support/UseCase/Admin/Request/GetBookingRequests.php
  modules/Booking/Common/Application/Support/UseCase/Admin/UpdateBookingStatus.php
  modules/Booking/Common/Domain/Service/StatusRules/AdministratorRules.php
  modules/Booking/Common/Domain/Service/StatusRules/StatusRulesInterface.php
  modules/Booking/Common/Domain/ValueObject/BookingPrice.php
  modules/Booking/Hotel/Application/Dto/BookingDto.php
  modules/Booking/Hotel/Application/Dto/BookingPriceDto.php
  modules/Booking/Hotel/Application/UseCase/Admin/Voucher/GetBookingVouchers.php
  modules/Booking/Hotel/Application/UseCase/Admin/Voucher/SendVoucher.php
  modules/Booking/Hotel/Infrastructure/Repository/BookingRepository.php
  modules/Booking/PriceCalculator/Domain/Listener/RecalculateBookingPricesListener.php
  modules/Booking/PriceCalculator/Domain/Service/HotelBooking/RoomCalculator.php
  modules/Booking/Providers/BootServiceProvider.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: service provider prices
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/AirportPricesController.php
  apps/admin/app/Http/Controllers/ServiceProvider/Service/Price/TransferPricesController.php
  apps/admin/app/Http/Requests/ServiceProvider/UpdateAirportPriceRequest.php
  apps/admin/app/Http/Requests/ServiceProvider/UpdateTransferPriceRequest.php
  apps/admin/app/Models/ServiceProvider/AirportPrice.php
  apps/admin/app/Models/ServiceProvider/CarPrice.php
  apps/admin/resources/api/models.ts
  apps/admin/resources/api/service-provider/airport.ts
  apps/admin/resources/api/service-provider/transfer.ts
  apps/admin/resources/components/SmallDeleteButton.vue
  apps/admin/resources/composables/quick-search.ts
  apps/admin/resources/views/hotel-booking/show/constants.ts
  apps/admin/resources/views/service-provider/service/price/ components/PricesModal.vue
  apps/admin/resources/views/service-provider/service/price/_partials/layout.blade.php
  apps/admin/resources/views/service-provider/service/price/airport/AirportPrices.vue
  apps/admin/resources/views/service-provider/service/price/airport/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/composables/currency.ts
  apps/admin/resources/views/service-provider/service/price/transfer/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/transfer/TransferPrices.vue
  database/migrations/install/2023_02_16_000004_create_service_provider_airport_prices_table.php
  database/migrations/install/2023_02_16_000005_create_service_provider_car_prices_table.php
Due: admin-eslint, admin-stylelint, admin-vue

feat: hotel markup settings final
  apps/admin/resources/components/EditableCell.vue
  apps/admin/resources/views/hotel/settings/MarkupConditions.vue
Due: admin-eslint, admin-stylelint, admin-vue

feat: transfer booking part 1
  apps/admin/app/Http/Controllers/Booking/Transfer/BookingController.php
  apps/admin/app/Providers/AdapterServiceProvider.php
  apps/admin/app/Support/Adapters/Booking/TransferAdapter.php
  apps/admin/app/Support/Facades/Booking/TransferAdapter.php
  apps/admin/factories/booking/transfer-booking.php
  apps/admin/resources/views/service-provider/service/price/ components/PricesModal.vue
  apps/admin/resources/views/service-provider/service/price/airport/AirportPrices.vue
  apps/admin/resources/views/service-provider/service/price/airport/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/transfer/PricesTable.vue
  apps/admin/resources/views/service-provider/service/price/transfer/TransferPrices.vue
  apps/admin/resources/views/transfer-booking/form/form.blade.php
  apps/admin/resources/views/transfer-booking/form/form.ts
  apps/admin/resources/views/transfer-booking/show/show.blade.php
  apps/admin/resources/views/transfer-booking/show/show.scss
  apps/admin/resources/views/transfer-booking/show/show.ts
  apps/admin/routes/airport-booking.php
  apps/admin/routes/boot.php
  apps/admin/routes/service-provider.php
  apps/admin/routes/transfer-booking.php
  database/migrations/install/2023_02_14_000011_create_client_legals_table.php
  database/migrations/install/2023_02_15_000005_create_hotels_table.php
  database/migrations/install/2023_02_15_000007_create_hotel_rooms_table.php
  database/migrations/install/2023_02_16_000004_create_service_provider_airport_prices_table.php
  database/migrations/install/2023_02_16_000005_create_service_provider_car_prices_table.php
  database/migrations/install/2023_02_17_000002_create_bookings_table.php
  database/migrations/install/2023_02_17_000003_create_booking_hotel_rooms_table.php
  database/migrations/install/2023_02_20_000001_create_booking_changes_log_table.php
Due: admin-eslint, admin-stylelint, admin-vue

fix: Specified key was too long; max key length is 767 bytes
  database/migrations/install/2023_02_18_000001_create_translation_items_table.php
Due: none

fix: migrations for prod
  database/migrations/deprecated/2023_03_14_000012_fill_client_legals.php
  database/migrations/install/2023_02_18_000001_create_translation_items_table.php
Due: none

fix: front vite bug
  apps/admin/resources/components/ImageZoom.vue
Due: admin-eslint, admin-stylelint, admin-vue

fix: front styles
  apps/admin/vite.config.ts
Due: admin-eslint

fix: front bundles
  apps/admin/vite.config.ts
Due: admin-eslint

feat: service-provider prices modal
  apps/admin/resources/views/service-provider/service/price/ components/PricesModal.vue
  apps/admin/resources/views/service-provider/service/price/composables/currency.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: front hotel booking folder structure
  apps/admin/resources/views/hotel-booking/show/BookingRooms.vue
  apps/admin/resources/views/hotel-booking/show/ControlPanel.vue
  apps/admin/resources/views/hotel-booking/show/components/GuestModal.vue
  apps/admin/resources/views/hotel-booking/show/components/RoomModal.vue
  apps/admin/resources/views/hotel-booking/show/composables/constants.ts
  apps/admin/resources/views/hotel-booking/show/composables/form.ts
  apps/admin/resources/views/hotel-booking/show/composables/modals.ts
  apps/admin/resources/views/hotel-booking/show/composables/price-calculator.ts
  apps/admin/resources/views/hotel-booking/show/store/booking.ts
  apps/admin/resources/views/hotel/settings/components/CancelPeriodModal.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodSettingsTable.vue
  apps/admin/resources/views/hotel/settings/components/DailyMarkupModal.vue
  apps/admin/resources/views/service-provider/service/price/composables/currency.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: more readable logs
  modules/Hotel/Application/Service/RoomPriceUpdater.php
Due: none

fix: add quicksearch to provider services
  apps/admin/app/Http/Controllers/ServiceProvider/Service/AirportServicesController.php
  apps/admin/app/Http/Controllers/ServiceProvider/Service/TransferServicesController.php
  apps/admin/app/Models/ServiceProvider/AirportService.php
  apps/admin/app/Models/ServiceProvider/TransferService.php
  composer.lock
Due: none

fix: hotel time settings labels
  apps/admin/resources/views/hotel/settings/ResidenceConditions.vue
  database/migrations/deprecated/2023_03_14_000001_fill_hotels.php
Due: admin-eslint, admin-stylelint, admin-vue

fix: hotel daily markup edit
  apps/admin/resources/components/EditableCell.vue
  apps/admin/resources/views/hotel/settings/CancellationConditions.vue
  apps/admin/resources/views/hotel/settings/components/CancelPeriodSettingsTable.vue
  apps/admin/resources/views/hotel/settings/components/ConditionsTable.vue
  apps/admin/resources/views/hotel/settings/components/DailyMarkupModal.vue
  apps/admin/resources/views/hotel/settings/components/EditTableRowButton.vue
  apps/admin/resources/views/hotel/settings/composables/markup-settings.ts
Due: admin-eslint, admin-stylelint, admin-vue

refactor: load reservation client
  modules/Integration/Traveline/Infrastructure/Models/Legacy/Reservation.php
Due: none

fix: traveline routes path
  apps/api/app/Providers/RouteServiceProvider.php
Due: none

feat: traveline early check in comment
  modules/Integration/Traveline/Application/Dto/Reservation/RoomDto.php
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

fix: traveline request validation
  apps/api/app/Http/Traveline/Requests/ConfirmBookingsActionRequest.php
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

fix: traveline request validation
  modules/Integration/Traveline/Port/Controllers/ReservationController.php
Due: none

fix: traveline request validation
  modules/Integration/Traveline/Domain/Api/Request/Reservation.php
Due: none

fix: traveline additional room info
  modules/Integration/Traveline/Application/Dto/Reservation/RoomDto.php
Due: none

refactor: traveline format
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

refactor: traveline rooms dto
  modules/Integration/Traveline/Application/Dto/Reservation/RoomDto.php
  modules/Integration/Traveline/Application/Dto/ReservationDto.php
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

fix: traveline customer dto
  modules/Integration/Traveline/Application/Dto/Reservation/CustomerDto.php
  modules/Integration/Traveline/Application/Dto/Reservation/FirstNameCast.php
  modules/Integration/Traveline/Application/Dto/Reservation/LastNameCast.php
  modules/Integration/Traveline/Application/Dto/Reservation/MiddleNameCast.php
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

refactor: traveline rooms dto
  modules/Integration/Traveline/Application/Dto/Reservation/Room/GuestDto.php
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

refactor: traveline deletion_mark logic
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
  modules/Integration/Traveline/Infrastructure/Models/Legacy/Reservation.php
Due: none

refactor: traveline deletion mark logic
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
Due: none

fix: traveline reservation date format
  modules/Integration/Traveline/Application/Dto/ReservationDto.php
Due: none

refactor: traveline rooms dto
  modules/Integration/Traveline/Application/Dto/ReservationDto.php
Due: none

refactor: traveline reservation dto
  modules/Integration/Traveline/Application/Dto/ReservationDto.php
Due: none

refactor: traveline reservation date format
  composer.lock
  modules/Integration/Traveline/Application/Dto/ReservationDto.php
Due: none

feat: don't send reservations with type Requested to traveline
  modules/Integration/Traveline/Infrastructure/Jobs/Legacy/SyncTravelineReservations.php
  modules/Integration/Traveline/Infrastructure/Models/Legacy/Reservation.php
  modules/Integration/Traveline/Infrastructure/Models/Legacy/ReservationRequestTypeEnum.php
Due: none

logs
  apps/api/app/Http/Traveline/Actions/UpdateAction.php
Due: none

Path conditions:
  admin-eslint: any of: *.{js,ts,vue} and ^apps/admin/
  admin-stylelint: any of: *.{vue,scss} and ^apps/admin/
  admin-vue: any of: *.vue and ^apps/admin/
